[2019-02-01 23:41] opoudjis commented on #251
I see what the styling issue is: whether the clause number is on a separate line from the clause title. Please be more explicit about this kind of question.

That is a styling issue: whether the number is on a separate line or not should only be determined by whether the clause is a term or not, and it must not be applied to definitions subclauses of terms & definitions sections, no matter what th

[2019-02-01 23:45] opoudjis commented on #251
The issue is in fact that the children of a definitions subsection are by default terms. That is wrong, fixing.

[2019-02-02 00:01] opoudjis commented on #251
Fixed: definitions children now being processed correctly as definitions, not terms.

This has now raised the issue seen in https://github.com/riboseinc/isodoc/issues/85: notes within nested definitions are no longer being found for labelling.

[2019-02-02 00:41] opoudjis commented on #251
With these issues resolved, the nonterm styling of the definitions subclauses is no longer needed. Checking in 8601-1 without the nonterms.

[2019-02-02 00:41] #251 closed

[2019-02-11 15:47] opoudjis commented on #148
TODO statements are not in fact natively recognised by Asciidoctor, even though my syntax highlighter does. Forcing Asciidoctor to recognise them seems not a good use of time, will review whether there is precedent for them being used in Asciidoctor at all.

[2019-02-12 18:12] opoudjis commented on #148
No support currently in Asciidoctor for TODO blocks as a kind of distinct admonition: https://github.com/asciidoctor/asciidoctor/issues/1692

Since they are not natively part of Asciidoctor, I have to ask whether we should support them at all. I can grab any paragraph which starts with `TODO:` and treat it as a reviewer comment; I'm just not convinced I should. @ronaldtse?

[2019-02-13 02:50] ronaldtse opened #253 "In ISO T&D, EXAMPLEs come before Notes"
Example from ISO/PRF 8601-1:

<img width="528" alt="screen shot 2019-02-13 at 10 49 12 am" src="https://user-images.githubusercontent.com/11865/52683168-01da1e00-2f7d-11e9-81f5-d828425e4c49.png">

From the Metanorma version:

<img width="517" alt="screen shot 2019-02-13 at 10 49 42 am" src="https://user-images.githubusercontent.com/11865/52683198-13232a80-2f7d-11e9-92f2-572b5d08daa2.png">

[2019-02-13 02:54] ronaldtse opened #254 "Support final Proof stage"
At the stage "50" we can have an FDIS or a PRF (final proof). i.e. After FDIS approval, there is a pre-publication "proof" (document stage code: PRF).

We should update the model and the implementation. I'm not exactly sure how the stage code differs from the FDIS stage code. Maybe it is "60.00" ("International Standard under publication")?

https://www.iso.org/stage-codes.html

[2019-02-13 06:33] ronaldtse opened #255 "Intelligent term references and formatting"
In ISO documents, terms used in definitions within the T&D section are required to be "italicized" and "referenced".

e.g.
![screen shot 2019-02-13 at 2 24 01 pm](https://user-images.githubusercontent.com/11865/52691194-031a4380-2f9b-11e9-9d03-6035d403e9f8.png)

In this example, the term "duration", "seconds" and "leap second" are terms defined within this document's T&D, and therefore require the

[2019-02-13 06:44] ronaldtse commented on #255
At least, we know that every term clause will need to be referenced (i.e. we don't need to manually write `[[term-xxx]]`), so it would be already a good step up to automatically create these `term-xxx` references.

[2019-02-13 08:27] ronaldtse opened #256 "EXAMPLEs are just like NOTES -- not tables!"
@opoudjis this is counter to previous experience, but reflects current (2019!) practice.

EXAMPLEs are now just treated like NOTEs, they are not tables.

From Metanorma Word:

![screen shot 2019-02-13 at 4 25 17 pm](https://user-images.githubusercontent.com/11865/52697303-25688d00-2fac-11e9-92e4-9b5577bc657e.png)

From final publication PDF:

![screen shot 2019-02-13 at 4 26 19 pm](https://user-im

[2019-02-13 08:29] ronaldtse opened #257 "Clause numbers should not be followed by a period"
From Metanorma:

![screen shot 2019-02-13 at 4 28 40 pm](https://user-images.githubusercontent.com/11865/52697450-72e4fa00-2fac-11e9-8b3d-79f64024d34c.png)

![screen shot 2019-02-13 at 4 27 36 pm](https://user-images.githubusercontent.com/11865/52697373-49c46980-2fac-11e9-93f7-5f9c1c1929b9.png)

From ISO final publication:

![screen shot 2019-02-13 at 4 28 37 pm](https://user-images.githubusercont

[2019-02-13 08:31] ronaldtse commented on #256
For completeness here is how EXAMPLEs and NOTEs interact.

Metanorma Word:

![screen shot 2019-02-13 at 4 30 45 pm](https://user-images.githubusercontent.com/11865/52697597-b7709580-2fac-11e9-81f6-d16ab1eb149b.png)

ISO PDF:

![screen shot 2019-02-13 at 4 30 23 pm](https://user-images.githubusercontent.com/11865/52697563-aa53a680-2fac-11e9-9b54-f6e28494e04e.png)

[2019-02-13 08:32] ronaldtse opened #258 "In-clause EXAMPLE numbering missing"
Metanorma Word:

![screen shot 2019-02-13 at 4 32 42 pm](https://user-images.githubusercontent.com/11865/52697708-fe5e8b00-2fac-11e9-9b6a-048cf48025d0.png)

ISO PDF:

![screen shot 2019-02-13 at 4 32 33 pm](https://user-images.githubusercontent.com/11865/52697698-f868aa00-2fac-11e9-8118-5bd320366a9a.png)

[2019-02-13 08:34] ronaldtse opened #259 "Definition lists should not be indented in Metanorma Word"
ISO PDF:

![screen shot 2019-02-13 at 4 34 02 pm](https://user-images.githubusercontent.com/11865/52697834-441b5380-2fad-11e9-8f15-2afa40329ecf.png)

Metanorma Word:

![screen shot 2019-02-13 at 4 34 07 pm](https://user-images.githubusercontent.com/11865/52697805-3239b080-2fad-11e9-92d4-794c7586f239.png)

[2019-02-13 08:36] ronaldtse opened #260 "NOTE in definition list should be "NOTE" not "NOTE:""
ISO PDF:

![screen shot 2019-02-13 at 4 35 44 pm](https://user-images.githubusercontent.com/11865/52697910-6a40f380-2fad-11e9-8d51-d1dec666cb45.png)

Metanorma Word:

![screen shot 2019-02-13 at 4 35 52 pm](https://user-images.githubusercontent.com/11865/52697924-6f05a780-2fad-11e9-9553-16a35d2633b4.png)

[2019-02-13 08:47] ronaldtse commented on #260
(It seems that this issue only occurs for NOTEs inside definition lists?)

[2019-02-13 09:45] ronaldtse opened #261 "Title formatting for "Part" standards"
ISO PDF:

![screen shot 2019-02-13 at 5 46 15 pm](https://user-images.githubusercontent.com/11865/52702506-44205100-2fb7-11e9-810c-39ddfa5aa00a.png)

Metanorma Word:

![screen shot 2019-02-13 at 5 46 27 pm](https://user-images.githubusercontent.com/11865/52702517-4b475f00-2fb7-11e9-94bd-7540a06e7dd6.png)

[2019-02-13 15:07] ronaldtse opened #262 ""Key" to figure definition list should be left-aligned, not centered"
Metanorma Word:

![screen shot 2019-02-13 at 11 07 15 pm](https://user-images.githubusercontent.com/11865/52721196-1d2c4400-2fe4-11e9-99dc-3cb38593b480.png)

ISO PDF:

![screen shot 2019-02-13 at 11 07 08 pm](https://user-images.githubusercontent.com/11865/52721183-17366300-2fe4-11e9-9f05-ac6f1a7783b6.png)

[2019-02-13 19:22] opoudjis commented on #256
I will not touch this until we have official confirmation from the ISO secretariat that this is going to be the formatting henceforth. I will not jump at shadows.

[2019-02-13 23:20] ronaldtse commented on #256
True. This is from an official ISO final proof. Let me double confirm.

[2019-02-14 09:23] ronaldtse commented on #256
100% confirmed by ISO/CS. EXAMPLEs are NEVER tables.

[2019-02-14 09:24] ronaldtse commented on #259
Confirmed by ISO/CS.

[2019-02-14 09:24] ronaldtse commented on #260
I feel that maybe this "NOTE" was implemented not as a "NOTE" but actually as plain text...

[2019-02-14 09:25] ronaldtse commented on #253
Confirmed by ISO/CS. Specifically,

[2019-02-14 09:33] ronaldtse commented on #257
Confirmed with ISO/CS.

[2019-02-14 09:34] ronaldtse commented on #261
Confirmed with ISO/CS. The current style we use is only intended for "drafts" because it was more complex for authors to do the "correct" style. We should always use the "correct" style.

[2019-02-14 09:34] ronaldtse commented on #262
Confirmed with ISO/CS. This style is also shown in the "simple template"
https://www.iso.org/drafting-standards.html

[2019-02-14 09:58] ronaldtse commented on #148
We don't quite care about sticking to "Asciidoctor syntax"; it's just a parser to us. It would be great if we can parse those as comments.

[2019-02-22 12:16] strogonoff commented on #238
There is now a generic quick start, with more coming, on https://www.metanorma.com/author/.

[2019-02-26 12:21] opoudjis commented on #256
As I've found, I switched example rendering to tables because that was the rendering used for ISO 690. But ISO 690 is a very old document.

[2019-02-26 12:27] ronaldtse commented on #256
Thanks, in summary, ISO/CS confirmed that EXAMPLEs are now treated just like NOTEs, so this makes our lives easier.

[2019-02-26 14:11] #256 closed

[2019-02-26 22:55] #253 closed

[2019-02-26 23:07] opoudjis commented on #257
Parameterised clausedelim as a configurable function. Changed isodoc so that term numbers have the same behaviour as true clause numbers: either both end in a period, or neither.

[2019-02-27 02:14] ronaldtse commented on #257
@opoudjis are the clause numbers generated by isodoc, or are the clause numbers (i.e. clause number format) written to the XML?

Considerations:
- We want to be able to address a particular clause via "clause number" via XML. If I put "5.1" vs "5.1.", should I find the same one? Or not?
- Different standards may or may not want the delimiter at the end.
- Different standards may use a different de

[2019-02-27 04:22] opoudjis commented on #257
Generated by isodoc.

If you put in a number instead of a GUID to reference a clause number within the XML, you are simply doing it wrong. In any case, 5.1 simply does not currently appear in any XML.

ISO and isodoc have just implemented different behaviour for delimiter char.

[2019-02-27 04:55] ronaldtse commented on #257
Thank you. You must know I’m very happy about this :wink:

[2019-02-27 09:09] #257 closed

[2019-02-27 09:37] opoudjis commented on #258
Has been fixed in https://github.com/riboseinc/isodoc/issues/85

[2019-02-27 09:37] #258 closed

[2019-02-27 13:26] #262 closed

[2019-02-27 13:33] opoudjis commented on #260
Issue no longer present. `NOTE:` markup in Asciidoctor was clearly being ignored before, and no longer is. May have been fixed in https://github.com/riboseinc/isodoc/issues/85

[2019-02-27 13:33] #260 closed

[2019-02-27 13:36] #259 closed

[2019-02-28 09:22] opoudjis commented on #148
Implemented. They are being rendered as reviewer comments; https://github.com/riboseinc/isodoc-style/issues/3 will need to be implemented for them to be displayed in HTML. But reviewer comment, not straight comments, are the right way to process these.

[2019-02-28 09:24] #148 closed

[2019-03-07 11:33] #261 closed

[2019-03-09 11:53] opoudjis commented on #238
I *think* this is @strogonoff's issue for now. Once the structure is all in place and I need to review and update it, assign it back to me.

[2019-03-12 08:48] ronaldtse opened #263 "Table too wide in Word when there is a lot of text"
When you compile the `iso-transliteration-registry` document, notice that the annex table is out of bounds (in Word). We need to set a max-width limit for the table.

<img width="978" alt="Screen Shot 2019-03-12 at 4 47 52 PM" src="https://user-images.githubusercontent.com/11865/54186537-971df300-44e6-11e9-8300-a320c6407194.png">

[2019-03-12 10:05] opoudjis commented on #263
Human edited documents normally flip to landscape for just that table, but that is disruptive and difficult, and I will not countenance it as an option. The Word output generated by Metanorma can always be post-edited.

[2019-03-12 10:18] opoudjis commented on #263
You assume that MS Word HTML has a notion of max-width. I think you're being optimistic.

Moreover, even if I do get MS Word HTML to do a "autofit to contents automatically", this is the result:

<img width="669" alt="image" src="https://user-images.githubusercontent.com/1911039/54192547-5638d500-450c-11e9-8c0e-9f0613cf2684.png">

That's the best you're going to get from automation (unless you fli

[2019-03-12 12:47] opoudjis commented on #242
The large mso-table-rspace, mso-table-lspace are from https://superuser.com/questions/728099/how-can-i-add-spacing-between-a-table-and-the-paragraph-immediately-after-it#comment1353888_728303

[2019-03-12 15:04] ronaldtse commented on #263
@opoudjis or can we set a fixed-width for Word tables?

If you've tried actually "human-editing" the table width, you'd realize it is only possible in Draft/Web views, not in the normal Print view. And due to the length of the table, Word behaves like it will crash on resizing (hangs for a while while doing so).

[2019-03-12 22:45] opoudjis commented on #263
Word is ignoring any attempt to set fixed width on a table this length, whether as width or as max-width. You will notice that Table Properties within Word sets a "Preferred Width" for a table; that command is ignored for this table.

If it's just one row with long text, it autosizes it nicely, and it accepts width styling on the table; otherwise, its autosizing takes over. Copy pasting the table

[2019-03-12 22:45] #263 closed

[2019-03-19 00:01] ronaldtse commented on #263
Indeed, they are supposed to be references. And I've converted them to be so now. There ought to be a better way to represent data (i.e. not in tables) but in a structured way.

[2019-03-19 00:07] opoudjis commented on #263
I have  a lot of time for nested lists.

[2019-03-19 00:08] ronaldtse opened #264 "Word: manual editing needed"
From #263:

This is an important pain point right now that we have to solve one day. It is very cumbersome to do these manually. This is the only remaining issue in the flow we are not automating.

Currently the issues are:
* images: image width needs to be adjusted (shrunk)
* ToC: needs to be regenerated via "Update"
* tables: table width may need adjustments if it goes out of bounds or columns a

[2019-03-19 00:08] ronaldtse commented on #263
As in definition lists?

[code]

?

[2019-03-19 00:09] ronaldtse commented on #263
My ideal input interface is a structured data file, e.g. YAML.

[2019-03-19 00:12] opoudjis commented on #263
As in nested definition lists, for this table:

script1::
feature1::: X
feature2::: Y
script2::
feature1::: X1
feature2::: Y1

[2019-03-19 01:30] ronaldtse commented on #263
I’ll try it out. The table has a benefit that it can be imported from CSV, which I can edit with Excel...

[2019-03-19 03:01] opoudjis commented on #263
And it has the downside you've already found. :-)

[2019-03-21 10:05] ronaldtse commented on #263
Let's put this on hold for now.

[2019-03-22 07:57] opoudjis commented on #116
I'm closing this issue. I will not touch this until it becomes necessary, and I don't foresee me ever having the time to do it preemptively.

[2019-03-22 07:57] #116 closed

[2019-04-01 04:54] #238 closed

[2019-04-05 09:06] opoudjis commented on #255
As you correctly said, autodetecting terms is error-prone enough that it should not be done.

The semi-automated input is intriguing; it is feasible, but will probably require postprocessing.

[2019-04-14 12:21] opoudjis opened #267 "Refactor common components of isodoc/pdf_convert.rb, isodoc/html_convert.rb, isodoc/word-convert.rb"
Same refactoring as @CAMOBAP795 has just done with metanorma-ogc. To be applied to all metanorma-* gems but metanorma-standoc.

metanorma-nist is under heavy active development, I will do the refactoring there.

[2019-04-16 20:04] CAMOBAP795 commented on #267
So list looks like:
 - [x] metanorma-nist
 - [ ] metanorma-acme
 - [ ] metanorma-csand
 - [ ] metanorma-csd
 - [ ] metanorma-gb
 - [ ] metanorma-iec
 - [ ] metanorma-ietf
 - [x] metanorma-iso
 - [ ] metanorma-itu
 - [ ] metanorma-m3d
 - [ ] metanorma-mpfd
 - [x] metanorma-ogc
 - [ ] metanorma-rsd
 - [x] metanorma-standoc
 - [ ] metanorma-unece

@opoudjis could you please confirm it

[2019-04-16 22:24] opoudjis commented on #267
* Nothing to do in metanorma-standoc
* I will be doing NIST
* OGC is done
* ISO is to be done, unless you've already done it
* I have misnamed the files in m3d, you might as well rename them ;)
* Add metanorma-sample to the list. This has no associated gem, it is a skeleton for people to build new gems with.

[2019-04-17 18:01] CAMOBAP795 commented on #267
Done, PRs ready for review

[2019-04-20 09:42] opoudjis commented on #267
With thanks.

[2019-04-20 09:42] #267 closed

[2019-05-21 11:52] opoudjis commented on #254
@ronaldtse I'm happy to implement, but I need you to confirm that PRF is in fact 60.00; I don't have enough assurance from you to implement this yet. The stage codes page speaks of FDIS and proofs interchangeably, which is suspect: "50.99 FDIS or proof approved for publication".

[2019-05-21 11:59] ronaldtse commented on #254
FDIS is 100% different from PRF.

Technically, a document is an FDIS = DIS + DIS-comments. This comment resolution process is done by the project leader/editor(s) (as with previous stages). Once this is done, FDIS goes into approval process.

If FDIS gets approved, PRF = FDIS + FDIS-comments. This comment resolution process is done by ISO/CS. Once this is done, PRF is approved by ISO/CS (with advi

[2019-05-21 23:54] #254 closed

[2019-05-31 05:23] ronaldtse opened #271 "Title with parts rendering funny"
Seems that part rendering has changed -- there's an empty line in between the main and part titles?

Now:
<img width="455" alt="Screen Shot 2019-05-31 at 1 19 25 PM" src="https://user-images.githubusercontent.com/11865/58683481-254b9c00-83a7-11e9-97b4-436604760178.png">

Old:
<img width="458" alt="Screen Shot 2019-05-31 at 1 21 24 PM" src="https://user-images.githubusercontent.com/11865/58683487-2

[2019-05-31 08:45] opoudjis commented on #271
... There's an empty line in both of these. I do not know what you are talking about.

[2019-05-31 08:46] opoudjis commented on #271
https://github.com/metanorma/metanorma-iso/issues/261: the line between the main and part titles was what you'd requested.

[2019-06-25 08:48] ronaldtse commented on #271
@opoudjis we don't want an empty line, can it be a small vertical space break?

[2019-06-25 08:51] ronaldtse opened #272 "References now rendering without title-intro"
Look at this:

<img width="413" alt="Screen Shot 2019-06-25 at 4 50 02 PM" src="https://user-images.githubusercontent.com/11865/60083991-48305c80-9769-11e9-83db-5fe18d52ed03.png">

And this is also reproduced in other flavors like OGC:

<img width="431" alt="Screen Shot 2019-06-25 at 4 50 19 PM" src="https://user-images.githubusercontent.com/11865/60084015-52525b00-9769-11e9-887b-71a33c86aced.png"

[2019-06-25 08:51] ronaldtse commented on #272
P.S. These references are all auto-fetched.

[2019-06-25 11:31] opoudjis commented on #272
I will hear NOTHING from you about new functionality in Metanorma, Ronald, and this is why.

This is likely an issue with the renaming of title types after the relation refactoring. @andrew2net, let me look at this first.

[2019-06-25 11:35] andrew2net commented on #272
@ronaldtse in the last big updates the bib model was changed. Now we have an array of titles with different types such us title-main, title-intro, title-part. So to get full title we need to concatenate all titles in metanorma-iso.

[2019-06-25 11:37] opoudjis commented on #272
No. We need to pick the right title in isodoc, not the first title it finds (which it used to). I'll take care of it.

The titles fetched are:

[code]

The correct title to use is "main", which is in fact already concatenated.

[2019-06-25 11:49] #272 closed

[2019-06-25 11:52] opoudjis commented on #271
...

... Is there a specification for this?! This really looks like making things up.

I will remove the blank line, and introduce a top margin above part titles.

[2019-06-25 13:06] #271 closed

[2019-06-25 13:06] opoudjis commented on #271
Given it 6pt on Word.

[2019-07-27 14:14] opoudjis commented on #196
This task has been sitting here for a year, and I have already raised serious misgivings about there being any point to it at all. I will not be the one to implement it, and I am unassigning myself.

[2019-08-05 14:55] opoudjis commented on #211
Documented in metanorma.com, content-validation.adoc, and inline. Refined a couple of rules.

[2019-08-05 14:55] #211 closed

[2019-08-08 03:59] ronaldtse opened #275 "Annex sub-clause titles not in the right style"
<img width="486" alt="Screen Shot 2019-08-08 at 11 58 33 AM" src="https://user-images.githubusercontent.com/11865/62674187-f3246f00-b9d3-11e9-9274-7dee8992c2b6.png">

Annex sub-clause headings `C.18.1` should be in the correct styling.

P.S. this is from ISO 690.

[2019-08-08 07:18] opoudjis commented on #275
Introduce noTOC class into ToC generation to allow the option of excluding headers from tables of contents.

[2019-08-08 07:36] opoudjis commented on #275
Need to define h3Annex, h4Annex, h5Annex, h6Annex in all Word stylesheets

[2019-08-08 13:04] opoudjis commented on #275
No, they are defined.

What actually needs to happen is: h2, .h2Annex are defined in the stylesheet as having font-weight:bold. h3, .h3Annex are not. Word HTML implicitly adds font-weight:bold to all headers; this needs to be done explicitly to all other heading styles as well, since Word HTML is not doing so for paragraphs styled to look like headings.

[2019-08-08 13:09] #275 closed

[2019-08-09 00:37] ronaldtse commented on #275
Thanks @opoudjis !

[2019-08-13 06:44] ronaldtse opened #276 "Word output: "Example" should use the "Example" style"
Previously, the content of an Example will have an "Example" style (which is different from "Normal" text). (albeit this is from the period where Examples are rendered as Tables):

<img width="908" alt="Screen Shot 2019-08-13 at 2 40 05 PM" src="https://user-images.githubusercontent.com/11865/62920507-8eed1b00-bdd8-11e9-85d1-d7bb268ea7e2.png">

<img width="909" alt="Screen Shot 2019-08-13 at 2 40

[2019-08-13 06:44] ronaldtse commented on #276
You can use the ISO 690 document to see the output.

[2019-08-13 06:53] ronaldtse commented on #276
@opoudjis maybe the point is to check out ISO's current Word template to see how we should render the Example?

[2019-08-13 11:38] opoudjis commented on #276
The Word template does not have a distinct Example style. ISO/IEC DIR 2 has examples in table format (despite contrary advice from ISO), and 10pt. We have an example style in the Word stylesheets; but we only apply example style to the div container of examples, not to the paragraphs within the paragraph.

The example style in the Word stylesheets has 10pt text. The div container does not apply it

[2019-08-13 11:47] #276 closed

[2019-08-20 12:12] opoudjis commented on #211
* Block "refer to" as well as "see" for normative references
* Conflate Term Example and Example validation

[2019-08-24 15:06] opoudjis opened #277 "Shrink font size of lists within examples in Word"
This was provided for in table-based examples, but has been passed over when rendering of examples was switched to div (which do not propagate their font size).

[2019-08-24 15:28] #277 closed

[2019-08-26 07:25] opoudjis commented on #235
Given that I have not received any documentation on these in the past 10 months, I am implementing these as a comma delimited array of numbers.

[2019-08-26 07:47] ronaldtse commented on #235
Each TC or WG may assign N-numbers for the documents. We have to support multiple of these, eg. A document with WG N0001 can also have SC identifier N0501 and TC identifier N1001.

[2019-08-26 11:26] #235 closed

[2019-09-26 15:39] ronaldtse opened #280 "Reference to "EXAMPLE n" should be rendered as "EXAMPLE n", not "Example n""
This is from the Word output. The text should be shown as "EXAMPLE 1" and "EXAMPLE 2" instead of "Example 1" and "Example 2".

<img width="506" alt="Screen Shot 2019-09-26 at 11 38 05 PM" src="https://user-images.githubusercontent.com/11865/65703071-b2350680-e0b6-11e9-8d84-a5bd475a542f.png">

This issue might be better handled in Standoc?

[2019-09-29 11:24] opoudjis commented on #280
No, this is ISO-specific practice.

[2019-09-29 11:39] ronaldtse commented on #280
OK thanks for clarifying. So within metanorma-iso then.

[2019-10-14 11:29] ronaldtse commented on #280
@opoudjis is this fixed or not?

[2019-10-14 22:19] opoudjis commented on #280
Yes it is, don't know why I reopened.

[2019-10-14 22:20] #280 closed

[2019-10-15 05:54] ronaldtse commented on #280
Thanks!

[2019-10-30 20:15] ronaldtse opened #285 "Missing label is being shown 3 times on every occasion"
Somehow, a single cross reference generates 3 warnings that it is missing. The below is a trace of 3 instances.

[code]

[2019-10-31 02:26] manuel489 opened #286 "Links render badly"
Links are rendering with both address and label concatenated. For example,

For this markup:
[code]
It renders like:
![capture](https://user-images.githubusercontent.com/33627611/67913597-feff7780-fb63-11e9-99de-74154baab236.JPG)

Please, refer to the sample:
[link-issues.zip](https://github.com/metanorma/mn-templates-iso/files/3791884/link-issues.zip)

This bug has been found in ISO and ITU flavo

[2019-11-01 23:58] opoudjis commented on #286
https://github.com/metanorma/metanorma-standoc/issues/35

Duplicate, and it's an elusive bug as well, it's been very difficult to replicate. Am merging into that ticket.

[2019-11-01 23:58] #286 closed

[2019-11-05 11:13] ronaldtse opened #287 "English-French title and part title not formatted with same spacing"
<img width="471" alt="Screen Shot 2019-11-05 at 3 12 42 AM" src="https://user-images.githubusercontent.com/11865/68203220-301fe380-ff7a-11e9-8fc5-7d1a93b2d8cd.png">

[2019-11-07 06:07] opoudjis opened #288 "grammar warnings"

[2019-11-07 14:39] ronaldtse opened #289 "Line breaks should not cause Word to make text justified"
[code]

Gets rendered like this:
<img width="391" alt="Screen Shot 2019-11-07 at 10 37 44 PM" src="https://user-images.githubusercontent.com/11865/68398248-6abe9180-01af-11ea-94e7-91d0b935640f.png">

It's not supposed to be such.

[2019-11-07 14:42] ronaldtse opened #290 "Source code blocks not rendered in monospace font"
Source:

[code]

Rendered without monospace font:

<img width="373" alt="image" src="https://user-images.githubusercontent.com/11865/68398484-c557ed80-01af-11ea-9dae-9c00a6798026.png">

[2019-11-10 06:12] #287 closed

[2019-11-10 06:18] opoudjis commented on #289
That is the nature of line breaks in justified paragraphs.

There are two options:

* If I detect line break in a justified paragraph, automatically change it to be left aligned, in postprocessing. That... is presumptuous: it is possible that that rendering is intended.
* Require people to manually set `[align=left]` before any paragraph that they insert line breaks in, and even issue a warning if

[2019-11-10 06:21] opoudjis commented on #290
`----` on its own marks up examples, not source code. You want to put `[source]` beforehand:

[code]

[2019-11-10 06:35] ronaldtse commented on #290
Doh you're right about markup, but not about this issue.

HTML (works):
<img width="963" alt="Screen Shot 2019-11-10 at 2 34 32 PM" src="https://user-images.githubusercontent.com/11865/68540082-4fc66a00-03c7-11ea-8d74-239a6ab8c1bf.png">

(P.S. source code should also wrap in HTML)

Word (not):
<img width="522" alt="Screen Shot 2019-11-10 at 2 32 57 PM" src="https://user-images.githubusercontent.co

[2019-11-10 06:44] opoudjis commented on #290
List Continuation style in Word is overwriting sourcecode style. Investigating.

[2019-11-10 06:46] opoudjis commented on #290
At a first cut, do not overwrite any existing classes with ListContLevel. The indentation will be bad, but there are limits to what we can do anyway.

[2019-11-10 07:12] opoudjis commented on #290
But that now means that the embedded sourcecode etc lists do not indent correctly.

Need to try combining the indent of ListContLevel-n and the styled paragraph; and Word will not make that easy.

[2019-11-10 07:20] opoudjis commented on #290
If I wrap all affected list continuations in `div[@class = "ListContLevel1"]` instead of changing their `p/@class`, and constrain the definition of the ListContLevel1 class to indentation, I will get the desired effect.

[2019-11-11 10:46] opoudjis commented on #285
The bug is reported in isodoc, as common code shared between PDF, HTML and DOC, so it is reported three times, once for each run. I'll track reports so any anchor is reported on only once.

[2019-11-11 11:26] #285 closed

[2019-11-11 23:56] ronaldtse commented on #289
Maybe just allow the user to specify “align left”. I don’t see a good solution to this (personally I prefer left alignment of text instead of justified).

[2019-11-12 13:00] opoudjis commented on #289
The user can, and so shall you. :-)

I'll note in documentation.

[2019-11-12 23:13] #289 closed

[2019-11-21 09:41] ronaldtse opened #292 "Boilerplate and copyright text should be in MN XML"
https://github.com/metanorma/mn-native-pdf/blob/91415b5e3813dc49e9bce804c2617d4e763889ed/xslt/mn-iso.xsl#L95-L116

As previously discussed, boilerplate and copyright text should be in MN XML.

[2019-11-21 09:46] ronaldtse commented on #292
This is needed for downstream: https://github.com/metanorma/mn-native-pdf/issues/1

[2019-11-26 04:38] ronaldtse opened #293 "Elimination of post-editing Word: Requirement representation"
These very helpful issues have been raised by @rggibb . Thanks!

NOTE: We may want to split this issue.

## Requirement Specification

Requirement 1 in Sec 5.2.1 on p13 of ISO 19170 `.docx`:

Source:
[code]

Produces this:

<img width="768" alt="Screen Shot 2019-11-26 at 12 10 45 PM" src="https://user-images.githubusercontent.com/11865/69598914-0a9c6c00-1046-11ea-86c5-5dd07a143bbb.png">

Changes n

[2019-11-26 04:42] ronaldtse opened #294 "Elimination of post-editing Word: Formula and paragraph layout in "Notes to entry""
From @rggibb

3.1:
<img width="560" alt="Screen Shot 2019-11-26 at 12 38 07 PM" src="https://user-images.githubusercontent.com/11865/69599969-ddea5380-1049-11ea-83a7-1bd9fbefeb41.png">

3.6:
<img width="558" alt="Screen Shot 2019-11-26 at 12 38 21 PM" src="https://user-images.githubusercontent.com/11865/69599982-e6428e80-1049-11ea-859c-6ab552770c45.png">

The issue is that the "Notes" are not show

[2019-11-26 04:43] ronaldtse opened #295 "Elimination of post-editing Word: Requirement class "Table" headings."
From @rggibb

<img width="576" alt="Screen Shot 2019-11-26 at 12 41 24 PM" src="https://user-images.githubusercontent.com/11865/69600084-53eeba80-104a-11ea-8840-ced1c7a73d23.png">

[2019-11-26 04:46] ronaldtse opened #296 "Elimination of post-editing Word: Keep-together"
From @rggibb

I think this we can fix or at least enable keep-together?

[2019-11-26 12:22] opoudjis commented on #296
This is not an ISO issue.

[2019-11-26 12:23] ronaldtse commented on #296
I'm filing this here because it was reported on an ISO document. Feel free to move it to metanorma-standoc if preferred.

[2019-11-26 13:43] ronaldtse commented on #296
We can probably generalize the Errata model we have for the other flavor.

We can inherit from the BasicDoc "ChangeSet" and "Change" models and make the "Modified node" to support a link and plain text.

![image](https://user-images.githubusercontent.com/11865/69638436-a903ee00-1095-11ea-9826-59a501f6cdf6.png)

(from: https://github.com/metanorma/basicdoc-models)

[2019-11-28 23:30] #292 closed

[2019-12-01 08:29] ronaldtse opened #298 "Missing full docidentifier of "ISO nnnn (L)" where L is language"
In the Rice document, the Word output contains the full identification number:

<img width="240" alt="Screen Shot 2019-12-01 at 4 19 08 PM" src="https://user-images.githubusercontent.com/11865/69911449-a0753400-1456-11ea-8fe8-b35a0a3ffd49.png">

But the XML doesn't:
<img width="759" alt="Screen Shot 2019-12-01 at 4 25 55 PM" src="https://user-images.githubusercontent.com/11865/69911515-93a51000-14

[2019-12-02 03:13] ronaldtse opened #299 "ISO Rice Chinese marked up differently from English in XML"
The ISO Rice document is provided in https://github.com/metanorma/mn-samples-iso . Apparently, the DOC output differs as raised in https://github.com/metanorma/mn-native-pdf/issues/31 .

Issue content quoted below:

[2019-12-02 07:10] ronaldtse opened #300 "Non-English language issues with generated MN XML Table of Contents"
This issue shows up here: https://github.com/metanorma/mn-native-pdf/pull/14

The source files are at https://github.com/metanorma/mn-samples-iso

English version:
<img width="591" alt="Screen Shot 2019-12-02 at 3 03 33 PM" src="https://user-images.githubusercontent.com/11865/69937313-674fc900-1515-11ea-92e7-1c69b078a19a.png">

Chinese version:
<img width="592" alt="Screen Shot 2019-12-02 at 3 03

[2019-12-03 03:06] ronaldtse opened #301 "Word output conformance to ISO Rice"
There is another issue with "title-less clauses".

In ISO Rice:
<img width="544" alt="Screen Shot 2019-12-03 at 11 00 17 AM" src="https://user-images.githubusercontent.com/11865/70016868-6e7de200-15bc-11ea-9f47-bd40daa9ec52.png">

In DOC:
<img width="618" alt="Screen Shot 2019-12-03 at 11 00 39 AM" src="https://user-images.githubusercontent.com/11865/70016884-7c336780-15bc-11ea-8ea4-4b4809df73aa.p

[2019-12-03 04:42] ronaldtse opened #302 "Compliance with ISO Rice table output"
Originally from https://github.com/metanorma/mn-native-pdf/issues/34

Heading should be boldfaced in Table D.1.

[2019-12-03 04:43] ronaldtse commented on #302
In Table 1, first two rows should be boldfaced, i.e. terms such as "in husked rice" should be boldfaced

Entries are vertically centered in the Table 1 in the rendered document, while they are vertically aligned to the top in the original document (example above)

[2019-12-03 04:46] ronaldtse opened #303 "Compliance with ISO Rice: Equations"
1. Equations should not be vertically centered
2. The indent for the definition list after "where" is incorrect.

Definitive image from the original ISO Rice:

<img alt="Screen Shot 2019-12-03 at 10 54 33 AM" width="552" src="https://user-images.githubusercontent.com/11865/70016561-a173a600-15bb-11ea-96cb-e46ee85ec02b.png">

DOC:

![image](https://user-images.githubusercontent.com/55683568/6998707

[2019-12-03 04:47] ronaldtse opened #304 "Compliance with ISO Rice document: Preface handling"
The ISO preface clause should only be numbered (with 0, 0.1, 0.2...) IFF it has subsections.

DOC:
<img width="641" alt="Screen Shot 2019-12-03 at 12 45 08 PM" src="https://user-images.githubusercontent.com/11865/70021268-14d0e400-15cb-11ea-8826-82913a3fbb7d.png">

Rice:
<img width="606" alt="Screen Shot 2019-12-03 at 12 44 53 PM" src="https://user-images.githubusercontent.com/11865/70021261-0b477

[2019-12-03 04:50] ronaldtse opened #305 "Compliance with Rice document: Hyperlinks should be in BLUE and UNDERLINED"
URLs:
<img width="591" alt="Screen Shot 2019-12-03 at 12 46 03 PM" src="https://user-images.githubusercontent.com/11865/70021298-3500a300-15cb-11ea-990e-71db37eaeb69.png">

Clauses:
<img width="572" alt="Screen Shot 2019-12-03 at 12 46 11 PM" src="https://user-images.githubusercontent.com/11865/70021304-39c55700-15cb-11ea-83bc-fc93970eb51c.png">

Tables and Figures are not highlighted in Rice, but

[2019-12-03 08:40] opoudjis commented on #298
It is not clear to me at all that "ISO nnnn (L)" should appear to the exclusion of "ISO nnnn". In most instances (and certainly in citing the document), the language suffix is *inappropriate*.

The solution here is not to change the "iso" identifier, but to add a distinct "iso-with-lang" identifier.

[2019-12-03 08:42] ronaldtse commented on #298
Good call, I agree.

[2019-12-03 08:56] #298 closed

[2019-12-10 03:18] ronaldtse commented on #263
Let's consider landscape mode as a fix for this.

[2019-12-18 03:17] ronaldtse commented on #299
The Chinese XML T&D section is marked up incorrectly, see https://github.com/metanorma/mn-native-pdf/issues/31#issuecomment-566579269 .

[2019-12-20 17:58] ronaldtse opened #306 "Enhancement: Bibliographic references can be split into sub-clauses"
<img width="1337" alt="Screen Shot 2019-12-21 at 1 58 01 AM" src="https://user-images.githubusercontent.com/11865/71280113-53211e00-2395-11ea-88be-bdc648bfe895.png">

https://isotc.iso.org/livelink/livelink/fetch/2000/2122/4230767/Drafting_standards_-_Frequently_asked_questions_(FAQ).pdf?nodeid=18973477&vernum=-2

[2019-12-30 06:48] ronaldtse opened #307 "Change namespace from "http://riboseinc.com/isoxml" to a proper one"
This namespace is not ideal for many reasons, it was temporary and doesn't resolve.

[code]

I suggest we change the XML namespace to something proper, like "https://www.metanorma.org/ns/iso.org".

Thoughts @opoudjis ?

[2019-12-30 09:17] opoudjis commented on #305
Confirmed in ISO template

[2019-12-30 09:17] #305 closed

[2019-12-30 12:22] opoudjis commented on #307
metanorma.org/ns/iso.org doesn't currently resolve either.

If they are to resolve, they should resolve to an online copy of the schema for each flavour.

Any implementation needs the refactoring in https://github.com/metanorma/metanorma-standoc/issues/155

[2019-12-30 14:16] opoudjis commented on #306
[code]

renders as:

[code]

So this is doable, we just need to ensure that bibliography/clause/references is recognised correctly.

[2019-12-30 23:01] ronaldtse commented on #306
@opoudjis the proposed solution looks good!

[2020-01-14 00:43] #288 closed

[2020-01-16 10:34] opoudjis commented on #299
I actually stumbled across some of these errors the other day, and fixed a couple already.

[2020-01-16 10:38] opoudjis commented on #299
The issue is that the parser only recognises titles as distinct structural elements in English. If the title is in a different language, you need to use the `heading` attribute to indicate what kind of title it is.

[2020-01-16 10:39] opoudjis commented on #299
... In fact yes, I did already fix them.

[2020-01-16 10:39] #299 closed

[2020-01-22 23:13] ronaldtse opened #309 "Discover gaps in non-English language support (in ISO)"
There should not be any English in the TOC. It is likely that Metanorma-ISO needs to be fixed to provide Chinese clause labels in the XML.

From https://github.com/metanorma/mn-native-pdf/issues/59#issuecomment-577430232 , notice:

Here the DOC is clearly wrong. The word ”范围“ means "scope" so it should be Clause 1.

_Originally posted by @ronaldtse in https://github.com/metanorma/mn-native-pdf/iss

[2020-01-23 01:47] opoudjis commented on #309
Recall that the Chinese Rice document was incorrectly marked up; it did not use the "heading" attribute to identify section headings. I fixed this last week, which means that the scope should have gone to the right place.

Do not assign me this issue until I am MUCH less overloaded. The PDF conversion is imposing a ton of work on me, and I am unlikely to get to this for a couple of months.

[2020-01-31 01:54] ronaldtse opened #310 "ISO Word DOC copyright style broken"
<img width="606" alt="image" src="https://user-images.githubusercontent.com/11865/73506029-3bff3280-440f-11ea-9518-8fc5548beee1.png">

[2020-01-31 02:16] ronaldtse opened #311 ""subcommittee-type" attribute is missing default"
Previously `:subcommittee-type:` was set to "SC" by default, but now it's not set:

e.g.
<img width="595" alt="Screen Shot 2020-01-31 at 10 16 17 AM" src="https://user-images.githubusercontent.com/11865/73507080-b9787200-4412-11ea-973c-b157d88c3273.png">

[2020-01-31 02:34] ronaldtse opened #312 "ISO TOC should not contain the WARNING for draft"
The TOC should not contain the WARNING entry.

Before clicking "Update"
<img width="611" alt="Screen Shot 2020-01-31 at 10 23 08 AM" src="https://user-images.githubusercontent.com/11865/73507813-24c34380-4415-11ea-903f-04eae69ef948.png">

After clicking "Update"
<img width="603" alt="Screen Shot 2020-01-31 at 10 33 02 AM" src="https://user-images.githubusercontent.com/11865/73507815-25f47080-4415-

[2020-01-31 02:35] ronaldtse commented on #310
Previously:
<img width="596" alt="Screen Shot 2020-01-31 at 10 35 12 AM" src="https://user-images.githubusercontent.com/11865/73507901-5d631d00-4415-11ea-866b-9dc76df6b3ed.png">

[2020-01-31 04:33] ronaldtse opened #313 "3.1 "Terms and definitions" broken formatting in Word DOC"
<img width="612" alt="Screen Shot 2020-01-31 at 12 31 32 PM" src="https://user-images.githubusercontent.com/11865/73512750-bc309280-4425-11ea-8d6e-e36db0e58245.png">

See http://gitlab.com/metanorma/iso-tc184-sc4 , under `sources/iso-8000/part100-2` .

[2020-01-31 05:19] ronaldtse opened #314 "Disappeared footnote"
This footnote has disappeared in the latest metanorma-iso version. It used to appear properly.

[code]

<img width="1045" alt="image" src="https://user-images.githubusercontent.com/11865/73514315-39f79c80-442c-11ea-9eb8-b270cc596e34.png">

(The bottom of the page does not show any footnote)

[2020-01-31 05:23] ronaldtse opened #315 "List item NOTE and EXAMPLE should be treated identically"
In this markup, the NOTE and EXAMPLE blocks are exactly the same, they are sub-items of a list item. However, in Word DOC, there is no indentation for NOTE but the EXAMPLES are indented.

[code]

<img width="992" alt="image" src="https://user-images.githubusercontent.com/11865/73514430-b4282100-442c-11ea-90d1-8b25b205ea6c.png">

[2020-02-04 03:33] opoudjis opened #331 "Refactor style-human HTML CSS stylesheet"
https://github.com/metanorma/isodoc/issues/112

[2020-02-04 03:34] opoudjis opened #332 "Refactor style-iso HTML CSS stylesheet"
https://github.com/metanorma/isodoc/issues/112

[2020-02-04 23:25] opoudjis commented on #311
User error.

The default value of `//bibdata/ext/editorialgroup/subcommittee/@type` is still "SC".

However, that type is extracted in metadata, prefixed to the subcommittee number, and made available to Liquid template as the variable `{{ sc }}`.

The "This document ... {subcommittee-type}" is nothing to do with Liquid. It is using asciidoctor's  document variables, and if subcommittee-type is no

[2020-02-04 23:25] #311 closed

[2020-02-04 23:27] ronaldtse commented on #311
@opoudjis please indicate the correct markup for this. This is the boilerplate used for many ISO documents.

[2020-02-04 23:28] opoudjis commented on #310
In fact, the top format was what was originally intended, judging from the CSS. But it also doesn't match the Word format, so I'll eliminate it.

Boilerplate in the XML is of course going to be the natural enemy of minute variation between text instances. This is going to be a lot more of my time wasted.

[2020-02-04 23:29] ronaldtse commented on #310
The top format is clearly defective -- there did not used to be any color.

[2020-02-04 23:30] ronaldtse commented on #310
Let me check on this variance between the text before we move forward here.

[2020-02-04 23:31] ronaldtse commented on #310
Official:

<img width="516" alt="Screen Shot 2020-02-05 at 7 31 05 AM" src="https://user-images.githubusercontent.com/11865/73796890-79860600-47e9-11ea-8296-6b42269f38df.png">

[2020-02-04 23:31] opoudjis commented on #311
The correct markup is either to populate `subcommittee-type` as a document variable, or not to use the document variable. In fact, given the folly and fallibility of humans, avoid using subcommittee-type as a document variable. Just put SC in there.

[2020-02-04 23:32] ronaldtse commented on #311
I wonder if there's a way to auto-populate this line, but maybe this is overengineering since it's only being done once per document.

[2020-02-04 23:33] ronaldtse commented on #311
Fine leaving as is.

[2020-02-04 23:34] ronaldtse commented on #310
Let's call this the update to ISO 2020 copyright style.

[2020-02-05 00:05] #310 closed

[2020-02-05 10:33] #312 closed

[2020-02-05 12:20] opoudjis commented on #313
Solution is to preempt treating a terminal node under a terms section as a term, and treat it as non-terminal, if it itself contains a reserved title (which "Terms and definitions" is.)

[2020-02-05 14:06] opoudjis commented on #313
See if boilerplate needs  to move to empty 3.1.

[2020-02-05 14:10] ronaldtse commented on #313
Seeking clarification from ISO EPM.

[2020-02-05 23:19] opoudjis commented on #314
Cannot replicate. Source document please?

[2020-02-06 00:44] ronaldtse commented on #314
https://gitlab.com/metanorma/iso-8000-100-ed2

[2020-02-07 00:14] opoudjis commented on #307
Namespaces currently in Metanorma:

metanorma-acme:   "https://open.ribose.com/standards/acme"
metanorma-csand:      "https://open.ribose.com/standards/csa"
metanorma-csd:      "https://www.calconnect.org/standards/csd"
metanorma-gb:      "http://riboseinc.com/gbstandard".
metanorma-iec:      "http://riboseinc.com/isoxml"
metanorma-ietf:      "https://open.ribose.com/standards/ietf"
metanorma-iso:

[2020-02-07 00:16] ronaldtse commented on #307
How about a base of https://www.metanorma.com/ns/{flavor} ?

[2020-02-07 00:51] opoudjis commented on #314
Still cannot replicate.

[2020-02-07 01:19] ronaldtse commented on #307
Discussed. We will use `https://www.metanorma.org/ns/{flavor}` and make that URL resolvable.

[2020-02-07 01:20] ronaldtse commented on #314
@opoudjis confirmed, this is now fixed with git gems.

[2020-02-07 01:29] #314 closed

[2020-02-08 09:03] #307 closed

[2020-02-09 06:45] ronaldtse opened #318 "Visual differentiation of term references (ISO 704:2009)?"
ISO 704:2009 "Terminology work — Principles and methods" is a core requirement for ISO documents, and it contains this paragraph:

This is not a requirement for other documents, but just an internal usage within this document.

For terminology references via `{{...}}`, perhaps there is benefit to enclose them with italics?

[2020-02-11 09:14] ronaldtse opened #319 "ISO HTML template using wrong numbered list bullets"
Numbered list bullets should be "a)" instead of "a." in documents. This was discovered at an ISO meeting today.

HTML is wrong:
<img width="858" alt="Screen Shot 2020-02-11 at 5 13 15 PM" src="https://user-images.githubusercontent.com/11865/74223494-cbe78b00-4cf1-11ea-847b-d52cce08f047.png">

(but HTML reference is correct):
<img width="844" alt="Screen Shot 2020-02-11 at 5 13 53 PM" src="https://

[2020-02-11 09:16] ronaldtse opened #320 "Wrong sorting order of bibliography (minor)"
Notice that "ISO 8000-100" is sorted before "ISO/TS 8000-1". This was discovered at an ISO meeting today.

<img width="729" alt="Screen Shot 2020-02-11 at 5 15 20 PM" src="https://user-images.githubusercontent.com/11865/74223662-2b459b00-4cf2-11ea-8e54-e6501edd7ea7.png">

[2020-02-11 09:17] ronaldtse opened #321 "Broken part title in bibliography with "ISO/IEC 8824-1""
The part title is missing in the bibliography. This was discovered at an ISO meeting today.

<img width="627" alt="Screen Shot 2020-02-11 at 4 52 55 PM" src="https://user-images.githubusercontent.com/11865/74223758-5a5c0c80-4cf2-11ea-929e-53cadaa99d28.png">

@andrew2net could you help check if this is a Relaton problem? Thanks.

[2020-02-11 23:15] ronaldtse commented on #321
My question to ISO:

![image002](https://user-images.githubusercontent.com/11865/74288493-7a79e300-4d67-11ea-82af-2c92370b02d3.png)

From ISO:

ISO is checking and will get back to us.

[2020-02-11 23:16] ronaldtse commented on #321
(i.e. it's not our bug!)

[2020-02-12 02:04] ronaldtse opened #323 ""ISO XXX (all parts)" should be rendered as "ISO XXX" in text according to ISO DP 2"
(came up in ISO meeting)
According to [ISO DP 2](https://www.iso.org/sites/directives/current/part2/index.xhtml),

In the bibliography, "ISO XXX (all parts)" is the display method in the bibliography, but is "ISO XXX" in text.

<img width="750" alt="Screen Shot 2020-02-12 at 8 52 38 AM" src="https://user-images.githubusercontent.com/11865/74296449-d13ee700-4d7e-11ea-991d-4b0e78dab25e.png">

Right

[2020-02-12 13:54] ronaldtse commented on #323
Appreciate it!!

[2020-02-12 14:19] #323 closed

[2020-02-13 09:21] ronaldtse commented on #323
Confirm fixed!

[2020-02-15 22:38] ronaldtse opened #325 "Consolidated "Terms, definitions, ..." location of T&D boilerplate should be in 3.1"
A document may not have specifically defined terms but can import terms from another document. In this case, the boilerplate still needs to exist inside a consolidated "Terms, definitions, ..." clause under 3.1.

ISO/CS has confirmed that the solution is the latter rendering. We should fix this.

Right now it does this (boilerplate under 3, empty 3.1):
[code]

Correct rendering (boilerplate under

[2020-02-17 13:54] opoudjis commented on #313
Remaining query on boilerplate now https://github.com/metanorma/metanorma-iso/issues/325

[2020-02-17 13:54] #313 closed

[2020-02-17 14:10] opoudjis commented on #321
Is there something for me to do here?

[2020-02-17 14:11] ronaldtse commented on #321
No, pending ISO Web Team investigation to fix this.

[2020-02-18 00:08] opoudjis commented on #315
The problem is the initial Note, which is embedded within the initial paragraph:

`<li><p>the process that generated the data<note>This could include...</note></p></li>`

That means that its indentation is mangled in Word CSS, which is simpleminded compared to HTML CSS, and unforgiving of paragraphs nested within paragraphs.

The solution is to detect any notes being embedded within paragraphs any

[2020-02-18 05:11] ronaldtse commented on #313
Superseded by #325.

[2020-02-18 07:41] opoudjis commented on #315
The notes are being deliberately injected inside paragraphs in metanorma-standoc, via `note_cleanup()`. I know why I did it—to establish note scope; but Word needs to ignore that.

[2020-02-18 08:00] opoudjis commented on #315
<img width="914" alt="Στιγμιότυπο 2020-02-18, 18 59 40" src="https://user-images.githubusercontent.com/1911039/74715617-e1742c00-5280-11ea-90b2-457e83ba343f.png">

[2020-02-18 08:00] #315 closed

[2020-02-19 01:42] ronaldtse opened #327 "Questions on values in ISO when document header is parsed as Hash"
In https://github.com/metanorma/metanorma.com/pull/219 we can see some values need work.

[code]

These values not set should be `nil` to indicate it is not supplied:
* `docsubtitle` is `""` => change to `nil`
* `docsubtitlemain` is `""` => change to `nil`
* `draftinfo` is `""` => change to `nil`
* `ics` is `XXX` => change to `nil`
* `sc` is `XXXX` => change to `nil`
* `secretariat` is `XXXX` => c

[2020-02-19 13:11] opoudjis commented on #327
This is a request for massive refactoring of things that are not truly broken, and will accordingly be aggressively demoted in priority.

`&#x2009;&#x2014;&#x2009;` is built in Asciidoctor behaviour as an expansion of " -- ", putting thin spaces around em-dash. It is a legitimate way of dealing with em-dahes: I see no reason to overrrule it, and Asciidoctor would not make it easy.

Subtitle is the

[2020-02-24 04:14] ronaldtse opened #328 "Investigate ISO 10303 SMRL"
As title.

[2020-02-24 11:03] opoudjis commented on #325
The rule I'm deriving here is that the term boilerplate goes to the deepest `<terms>` element, not the topmost.

[2020-02-24 11:14] opoudjis commented on #325
And allow multiple instances thereof

[2020-02-24 11:31] #325 closed

[2020-02-26 11:16] #328 closed

[2020-03-01 22:18] opoudjis commented on #319
You can see from https://stackoverflow.com/questions/1632005/ordered-list-html-lower-alpha-with-right-parentheses how difficult this is to in HTML.

[2020-03-02 10:05] #319 closed

[2020-03-03 15:11] opoudjis commented on #302
If 'headerrows` is used to designate multiple header rows, all those rows must contain `th` instead of `td`.

[2020-03-03 15:21] #302 closed

[2020-03-03 15:41] opoudjis commented on #304
The Word output is consistent with the sectioning rule; the difference is in markup, and mn-samples-iso does not mark up the Patent Notice any more. (I had originally done so in pursuit of semantic markup.) So this is a non-issue.

[2020-03-03 15:41] #304 closed

[2020-03-03 23:58] opoudjis commented on #301
Move code that formats footnote references to the last possible minute, after footnote_backlinks in HTML, because renumbering of footnote references still takes place. Code should be calling generic methods, that presupposes what is inside the footnote reference and target is the number or letter to be formatted.

Only ITU has custom (table) footnote text currently: will undo that implementation.

[2020-03-05 14:07] opoudjis commented on #301
Remaining tasks:

* Should not have a line break between clause number and content. (Applies to blank clause titles)

* All links to clauses (not figures or tables) should be hyperlinked in BLUE. (That's in reality because ISO have not implemented hyperlinking of tables and figures)

* Notice in the tables, all headers should be "vertically and horizontally centered".

[2020-03-06 04:34] ribose-jeffreylau opened #330 "Word: Possibility to support table width specification, or make all table 100% by default"
It has been requested to make table width consistent in the generated Word documents.

While the table widths are all set to 100% in the HTML output, it is not so in the Word version -- the width expands to the content's width.

I'm wondering if it is a good idea to add `width: 100%;` to the css class `table.MsoISOTable`, if we have no particular need to specify tables of other widths.

Related is

[2020-03-09 01:33] #301 closed

[2020-03-09 01:36] opoudjis commented on #303
Already the case, this is cut and paste from https://github.com/metanorma/mn-native-pdf/issues/34#issuecomment-560977827

[2020-03-09 01:39] opoudjis commented on #303
Will make classes dl.formula and dl.figure

[2020-03-09 02:04] opoudjis commented on #303
Mark up output dl after formula as class "formula".

[2020-03-09 02:46] #303 closed

[2020-03-09 08:31] opoudjis commented on #320
Adding part number as separate sort key.

[2020-03-09 08:40] #320 closed

[2020-03-11 09:46] opoudjis commented on #330
Can do it, although if the aim is to look as close as possible to existing standards documents, this is a bad idea, since of course few people do set tables to 100% in Word to begin with. @ronaldtse ?

[2020-03-11 10:24] ronaldtse commented on #330
@opoudjis I don't think we want to apply this to all tables. Just to allow this option.

The request was to set every data table in https://gitlab.com/calconnect/tc-localization/csd-transcription-systems/ to be of the same width.

If we can set "some" table width or allow specifying 100%, it would be good.

[2020-03-19 13:43] opoudjis commented on #330
Added attribute width, which corresponds to the HTML attribute on tables; so

[code]

[2020-03-19 13:52] #330 closed

[2020-03-25 02:28] opoudjis commented on #306
We've documented and tested this, in response to other tickets: https://www.metanorma.com/author/topics/document-format/bibliography/#general

[2020-03-25 02:28] #306 closed

[2020-04-01 04:15] #331 closed

[2020-04-01 04:15] #332 closed

[2020-04-03 19:16] ronaldtse opened #338 "Issue with sorting and missing characters inside Symbols list"
[code]

Output (HTML + Word):
<img width="695" alt="Screen Shot 2020-04-04 at 3 15 45 AM" src="https://user-images.githubusercontent.com/11865/78396819-96d92400-7622-11ea-8414-71e9b762ec19.png">

There are 2 bugs here:
* The `stem:[x]` has disappeared from 2 of the 3 bracket types.
* The symbol list becomes randomly sorted

If I do:
[code]

The first `<` will not be rendered.

[2020-04-03 19:54] ronaldtse opened #339 "Non-English characters rendered using multiple fonts"
In this markup:

[code]

* The first character "拼" is assigned the "PingFang TC" font.
* The second character "音" is assigned the "Batang" font.

The usage of different fonts cause characters to not align.

I have no idea why it consistently acts this way.

The following photos illustrate the problem:

<img width="420" alt="Screen Shot 2020-04-04 at 3 47 57 AM" src="https://user-images.githubuserc

[2020-04-07 08:10] ronaldtse opened #340 "Addressing post-processing steps for Word document submission to ISO"
From @rggibb

This is unavoidable under our current system, but we should improve documentation on how to deal with this. Let's do a blog post.

I think we should allow specifying width and height of images using `%`?

This was implemented as a feature in response to https://github.com/metanorma/metanorma-standoc/issues/219 , but perhaps this needs a re-think. We need to allow long URLs without th

[2020-04-09 06:04] ronaldtse opened #341 "Voting start date and voting termination date"
To generate the ISO DIS/FDIS cover pages we need to have the voting start and voting end date in the XML.

This issue is to add these attributes.

_Originally posted by @ronaldtse in https://github.com/metanorma/mn-native-pdf/issues/97#issuecomment-611341376_

[2020-04-10 10:12] Intelligent2013 opened #342 "How to determine document stage (CD, WD, AWI, DIS, FDIS,...)"
What is a best way to determine a document stage (CD, WD, AWI, DIS, FDIS,...) ?
In xml I see two places to store stages:
1. `<docidentifier type="iso">ISO/CD 17301-1</docidentifier>`
2.
[code]

In PDF I need to put a full name of stage, for example 'COMMITTEE DRAFT' for CD. Can I cut substring after 'ISO/' or would be better to use 'status' and 'substage' elements? Then, where can I find a mapping

[2020-04-10 13:00] Intelligent2013 opened #343 "XML: docidentifier contains /PRF for PROOF document"
The xml source for PROOF document (https://github.com/metanorma/mn-samples-iso/blob/gh-pages/documents/iso-rice-en.covers.prf.xml) shouldn't contain '/PRF' suffix:

[code]
 (see https://github.com/metanorma/mn-native-pdf/issues/98#issuecomment-611844712)

[2020-04-10 13:05] opoudjis commented on #340
3. Feature not bug. But we can make the behaviour optional by setting a document attribute.

2. That option is already in place:

[code]

1. I do not know what this needs to be, and would encourage someone else to write any blog posts.

[2020-04-10 14:03] opoudjis commented on #343
In https://github.com/metanorma/metanorma-iso/issues/254, @ronaldtse, you expressly requested a PRF stage to be implemented, and you haven't said anything in the intervening year. Have you confirmed this with ISO?

[2020-04-10 14:10] opoudjis commented on #342
The mapping code, like so much else that you seem to need, is in the isodoc/*/metadata.rb file of the flavour. In particular for ISO:

https://github.com/metanorma/metanorma-iso/blob/master/lib/isodoc/iso/metadata.rb

[code]

All those `set` variables are the metadata variables that I use to populate the title pages from via Liquid (e.g. stage, stageabbr). Either you replicate what those commands

[2020-04-10 14:11] opoudjis commented on #342
... Huh. That's a new requirement to me. But yes, you must read it from the stage, and map 30 to CD to Committee Draft. As you can see, the stage is only reflected in the identifier for pre-publication stages. (And if https://github.com/metanorma/metanorma-iso/issues/343 is correct, that excludes PRF.)

[2020-04-10 14:23] ronaldtse commented on #342
@opoudjis do you think it's fair to put the "Committee Draft" part inside the XML?

[2020-04-10 14:30] opoudjis commented on #342
Clearly I'm going to have to anyway.

[2020-04-10 14:31] ronaldtse commented on #343
The ISO/PRF stage exists, but the doc identifier there is "ISO XXXX" since it is "proof of final". I only received confirmation recently on this. This raises another question -- how can we differentiate a PRF document from real one in document identifier.

[2020-04-10 14:39] ronaldtse commented on #343
I wonder if the best solution is to keep the docidentifier with ISO/PRF, then strip it from the PDF.

[2020-04-10 14:51] opoudjis commented on #342
Ideally the markup would be:

`<stage number="30" abbreviation="CD">Committee Draft</stage>`

But we cannot do that: we have too much legacy XML of `<stage>30</stage>`.

So I will globally add an optional abbreviation attribute to `stage`. I will *not* proactively populate it, because I have far better things to do with my life; but the mechanism is available.

I will give the full name of the sta

[2020-04-10 14:59] opoudjis commented on #342
@andrew2net FYI: stage and substage can now have an optional "abbreviation" attribute, containing the abbreviation (e.g. "CD" for a stage of 30 in ISO); you are not currently expected to populate it.

I am also adding  //bibdata/ext/stagename as an optional element in ISO, for the full name of the stage.

[2020-04-10 15:16] opoudjis commented on #343
No it is not. Clearly there is no such thing as an ISO/PRF document identifier; we shouldn't be artificially creating one; and we are record PRF in the stage abbreviation.

[2020-04-10 15:19] #343 closed

[2020-04-11 07:07] opoudjis commented on #342
This of course also applies to GB and IEC, which inherit from ISO

[2020-04-11 09:50] #342 closed

[2020-04-11 15:15] ronaldtse opened #344 "Clarification of iteration number inside DocID and Doc stage name in new ISO DP Part 1"
This is new to the ISO Directives:
https://www.iso.org/sites/directives/current/consolidated/index.xhtml#_idTextAnchor550

...

This means that at the following stages:
* WD => Name change (First working draft, second working draft...) according to iteration number, no change in DocID
* CD => Name change (First committee draft, second committee draft...), no change in DocID
* DIS => No name change

[2020-04-12 15:34] anermina opened #345 "Support ISO doctypes: `technical-corrigendum` and `amendment`"
Currently, ISO doctype technical corrigendum is not available for ISO documents. This doctype was needed for ISO 10303-50, for which we had 2 TCs.

What was noticed while converting these TCs to .adoc format was that by default, text of TC is in italic. Normal text is used for changes which should be implemented.

[2020-04-12 16:46] ronaldtse commented on #345
The sample ISO Amendment has been uploaded here:
https://github.com/metanorma/mn-samples-iso/issues/25

Screenshots:

<img width="611" alt="Screen Shot 2020-04-13 at 12 44 50 AM" src="https://user-images.githubusercontent.com/11865/79074612-fc629a00-7d1f-11ea-9260-5f8fbab04b8c.png">
<img width="610" alt="Screen Shot 2020-04-13 at 12 44 58 AM" src="https://user-images.githubusercontent.com/11865/79

[2020-04-13 12:40] ronaldtse commented on #345
ISO Technical corrigendum:
http://www.mszt.hu/documents/10157/bb117640-ccf8-4d32-885d-b2006954fe22

<img width="641" alt="Screen Shot 2020-04-13 at 8 39 40 PM" src="https://user-images.githubusercontent.com/11865/79121026-e6f47b00-7dc6-11ea-808a-e04ae27828ec.png">
<img width="643" alt="Screen Shot 2020-04-13 at 8 39 51 PM" src="https://user-images.githubusercontent.com/11865/79121039-ed82f280-7dc6

[2020-04-14 12:39] ronaldtse commented on #345
https://infostore.saiglobal.com/preview/258645433280.pdf?sku=880419_SAIG_NSAI_NSAI_2091657

An older Technical Corrigendum document but demonstrates the textual requirements (we will not adopt the styling but only text requirements).

Technical Corrigendum 2:

<img width="624" alt="Screen Shot 2020-04-14 at 8 36 28 PM" src="https://user-images.githubusercontent.com/11865/79225637-9f85f180-7e8f-11e

[2020-04-14 12:40] ronaldtse commented on #345
Another older (2012) COR: https://www.ift-rosenheim.de/documents/10180/114265/DIN_EN_ISO_10077-2_2012_Technical_Corrigendum_1.pdf/f8601abd-e983-4e39-9bc5-20b67d350d24

[2020-04-14 14:24] ronaldtse commented on #345
ISO Model Draft Amendment (DAM): https://www.iso.org/files/live/sites/isoorg/files/archive/pdf/en/moddam.pdf

[2020-04-15 05:29] ronaldtse commented on #345
Latest official ISO Technical Corrigendum style:
https://www.iec.ch/dyn/www/f?p=103:391:0::::P391_PUB_ID%2CP391_LANG:63838

Front page:
<img width="543" alt="Screen Shot 2020-04-15 at 1 28 34 PM" src="https://user-images.githubusercontent.com/11865/79301777-02719a00-7f1d-11ea-8600-7389d81d7e7c.png">

As for content, this screenshot reflects the proper document identifier on the top right corner. T

[2020-04-20 01:18] ronaldtse opened #347 "Allow "Terms, definitions and symbols""
In ISO DP 2 it says that either we have:
* "Terms and definitions"
* "Terms, definitions, symbols and abbreviations"

But apparently in ISO 8601-1 ISO/CS changed the second one to just:
* "Terms, definitions and symbols"
as there were no abbreviations.

So I guess we should also allow:
* "Terms, definitions and abbreviations"

[code]

<img width="1326" alt="image" src="https://user-images.githubus

[2020-04-20 01:32] ronaldtse commented on #341
Related to https://github.com/metanorma/metanorma-standoc/issues/247

[2020-04-20 23:17] opoudjis commented on #347
And I'm stuck having to internationalise this.

[2020-04-21 09:43] opoudjis commented on #338
Replaced xpath with traverse for generating sortable snippets of symbols, the xpath was clearly generating strange side-effects.

Sortable key needs to exclude brackets.

[2020-04-21 10:17] opoudjis commented on #338
Greek letters also need to appear in correct sort order: they are not being converted correctly.

[2020-04-21 10:18] #338 closed

[2020-04-22 01:56] opoudjis commented on #255
The steps here are:

* In cleanup(), early on in the process: go through all //term instances, and if their ID is a GUID, replace it with "term-#{term.text}" If that anchor is already in use, keep suffixing numbers to the ID until it is unique in the document.
* Define a macro: "term:[X,Y]", with the second argument optional (defaults to identical to the first argument).
* Expand it to `<em>Y</em>

[2020-04-22 04:54] ronaldtse commented on #255
Are we going to replace whitespaces and deal with capitalization changes in the anchors? i.e. term "X Y Z" => anchor "term-x-y-z"?

[2020-04-22 05:09] ronaldtse opened #349 "Support ISO doctypes: technical-specification ("ISO/TS") and technical-report ("ISO/TR")"
ISO TS and TR documents are specified by ISO Directives Part 2

[code]

[code]

The content, layout requirements are identical to the International Standard.

The only difference is the document identifier:

* published: "ISO/TS" (and "ISO/TR") vs "ISO"
* draft with stages:
  * all draft stages except DIS, FDIS: "ISO/{stage} TS NNNN"
  * DIS: "ISO/DTS NNNN"
  * FDIS: "ISO/FDTS NNNN"

(substitute T

[2020-04-22 06:31] opoudjis commented on #340
It's a oneliner, I'll do it before IHO.

[2020-04-23 09:55] #340 closed

[2020-04-23 12:49] opoudjis commented on #339
Word has no idea that these are Chinese characters and is attempting to render them in Cambria, or whatever the default Latin font is. That fails, and random fonts get applied instead to Chinese, varying by character. The fact that these are Cantonese and not Mandarin probably doesn't help.

Even if CSS could work out allocating different fonts to different character ranges, there is of course no

[2020-04-23 13:03] opoudjis commented on #339
I am not implementing this any further than ISO btw. This really is an edge case.

[2020-04-23 13:04] #339 closed

[2020-04-23 14:14] #341 closed

[2020-04-24 01:55] ronaldtse opened #350 "Missing equations and list dashes (with example doc)"
From @anermina

Stem expressions are not generated in the attached document, although the same expressions render properly in other documents using ISO flavor.

Example (ISO 10303-52):
![image](https://user-images.githubusercontent.com/55683568/80151103-c93ec700-85b9-11ea-8e99-42c6956dea2e.png)

Example (attached document):
![image](https://user-images.githubusercontent.com/55683568/80151176-e70c2

[2020-04-25 13:17] ronaldtse opened #351 "Clean up warnings/errors: final version of ISO 8601-1 still generates load of errors"
Most if not all of these errors/warnings are bogus. We need to clean up these errors to prevent confusing users.

From ISO 8601-1 published FINAL:
[code]

[2020-04-25 13:32] ronaldtse opened #352 "Reference footnotes wrongly repeating, wrong order"
1. There are two separate references with different footnotes. However the rendered version only referred to the first one.

2. The order of references is wrong. (ISO 646 < 8601 < 80000-1 < 80000-3)

Original:
<img width="553" alt="Screen Shot 2020-04-25 at 9 29 26 PM" src="https://user-images.githubusercontent.com/11865/80281165-d84d8280-873b-11ea-999a-12af06d2db29.png">

Footnotes:
[code]

Encod

[2020-04-26 15:27] manuel489 opened #353 "Labels not getting processed"
When the section title *Symbols and abbreviated terms* (or just *Symbols*) is present, the labels contained in that section don't get processed. If the title is changed to another text, the problem gets solved.

*Sample markup:*
[code]

*Output:*
![capture](https://user-images.githubusercontent.com/33627611/80311697-218aea00-87af-11ea-9daa-1230c478b83b.PNG)

[labels-issue.zip](https://github.com/m

[2020-04-26 18:14] manuel489 opened #354 "Hyperlink behavior in cross-references isn't working"
In the sample below, notice that there is no hyperlink indicator.

*Code sample:*
[code]

*Output:*
![capture](https://user-images.githubusercontent.com/33627611/80315829-1b553780-87c8-11ea-98dd-5ffaf00cd274.PNG)

[2020-04-28 03:33] ronaldtse opened #356 "User report: term source references broken"
Previously term source was compiled to:
   [SOURCE: ISO 19107:2019, 4.6]

Now it generates:
  [SOURCE: 4.6 ]

(This also applies to metanorma-ogc)

[code]

Is compiling to:

[code]

and

[code]

Notice that the SOURCE is broken.

Gem versions:
[code]

From @rggibb

[2020-04-28 12:02] ronaldtse opened #357 "Bug when filling in errata table"
Originally from https://github.com/metanorma/metanorma-iso/issues/296 @rggibb

Right now we don't support "revision history" natively, maybe we can port something from NIST to OGC?

<img width="570" alt="Screen Shot 2019-11-26 at 12 44 24 PM" src="https://user-images.githubusercontent.com/11865/69600201-c069b980-104a-11ea-8859-1b2b58daccd4.png">

[2020-04-28 12:04] ronaldtse commented on #357
Originally from: https://github.com/metanorma/metanorma-iso/issues/296

We can probably generalize the Errata model we have for the other flavor.

We can inherit from the BasicDoc "ChangeSet" and "Change" models and make the "Modified node" to support a link and plain text.

![image](https://user-images.githubusercontent.com/11865/69638436-a903ee00-1095-11ea-9826-59a501f6cdf6.png)

(from: https://

[2020-04-28 13:41] opoudjis opened #358 "metanorma not creating PDF"

[2020-04-28 13:42] opoudjis commented on #358
That is because xsl:fo PDF is expecting XML filename as input, but Metanorma passes in XML content instead. xsl:fo generators instead need to write XML to disk, if they have not been given the XML file as input (as is the case in asciidoc run), in order to do PDF generation.

[2020-04-28 14:49] ronaldtse opened #359 "Unable to generate ISO 10303-110 HTML"
The XML gets generated, but the HTML fails to get generated. Maybe something to do with formulas.

[code]

[2020-04-28 14:51] ronaldtse opened #360 "Formula pre-processing causing failure in latexmath"
From ISO 10303-110

[code]

[2020-04-28 20:47] andrew2net commented on #356
Please try relaton-iso v 1.0.1. Data structure changed search results. It's fixed in https://github.com/relaton/relaton-iso/issues/86#issuecomment-620708891

[2020-04-29 00:07] rggibb commented on #356
I'm using metanorma version:
Metanorma 1.0.3
Metanorma::Cli 1.2.11.1
Metanorma::Standoc 1.3.24/IsoDoc 1.0.23
Metanorma::ISO 1.3.22
Metanorma::Iec 1.0.4
Metanorma::Ietf 2.0.8
Metanorma::Gb 1.3.21
Metanorma::Csd 1.3.18
Metanorma::Csa 1.4.8
Metanorma::M3d 1.3.17
Metanorma::Generic 1.4.6
Metanorma::UN 0.3.6
Metanorma::NIST 1.0.5
Metanorma::Ogc 1.0.4
Metanorma::ITU 1.0.13

I installed:
gem install rela

[2020-04-29 06:52] ronaldtse commented on #360
Confirmation that latexml works:

`math.ml`
[code]

[code]

Works.

[2020-04-29 09:07] opoudjis commented on #360
`cat math.ml | latexmlmath --strict -` is irrelevant. The LaTeX is fed through:

`latexmlmath --strict --preload=amsmath --inputencoding=UTF-8 -- -`

And it does indeed fail.

[2020-04-29 09:21] opoudjis commented on #360
Our problem is that we can have heterogeneous LaTeX; but I propose to deal with this by first parsing LaTeX with AMSMath style, and if that fails, parse it with no style.

[2020-04-29 09:58] #360 closed

[2020-04-29 10:06] opoudjis commented on #356
Error in the source:

[code]

The `[bibliography]` is required by Asciidoctor, and no references will be processed without it. Without the tag, you get the behaviour reported; with it, you do not.

[2020-04-29 10:34] rggibb commented on #356
Except that in the actual source there is a [bibliography] statement, the construct is

The parent file is:

[bibliography]
== Normative references

include::../sections-en/normref_core.adoc[]

and the include file has all the normative references in it.
 eg

* [[[ISO19107,ISO 19107:2019]]]

The quote from Ron was an incomplete summary, of a structure that has been working perfectly for over  a ye

[2020-04-29 11:27] opoudjis commented on #356
Since I can't replicate this, I'm at loss as to how to proceed, since we both are using relaton-iso 1.0.1.

Instead of installing gems locally, do "bundle update" in the directory where your document is, and report what happens.

[2020-04-29 11:37] rggibb commented on #356
Ron has let me know that he has managed to duplicate the error :
Hi Robert,

I actually just ran into this myself yesterday, so the good thing at least is I can reproduce it. Let me follow up and will let you know once it’s fixed… Thanks!

Ron

_____________________________________

Ronald Tse
Ribose Inc.

[2020-04-29 11:59] rggibb commented on #356
@ronaldtse @opoudjis .. but I've done a bundle update and a compile, and YES it is fixed, I'll paste the report in from bundle update. Because I had done a complete removal of metanorma and relaton, and reinstalled metanorma, in an attempt to get it working again, so there may still be an issue with dependencies.
 cheers Robert
bundle update
Fetching gem metadata from https://rubygems.org/........

[2020-04-29 12:00] opoudjis commented on #356
@rggibb Thank you! I'll close the ticket, but I think @ronaldtse is following up with you.

[2020-04-29 12:00] #356 closed

[2020-04-29 12:02] ronaldtse commented on #356
Thanks!

[2020-04-29 13:17] opoudjis commented on #347
... Excuse me.

How am I supposed to know whether something is a symbol as opposed to an abbreviation? Start going through each entry in Symbols, looking for runs of capital letters? And why should I give a clear violation of ISO editorial policy the time of day anyway? The point of getting a machine to do formatting is that it is more consistent than humans.

I now think that forcing the correct

[2020-04-29 13:30] ronaldtse commented on #347
What do you suggest is the correct action?

[2020-04-29 13:41] opoudjis commented on #347
That we do not overwrite the titles provided in input, but only issue warnings if they are not what we expect to see there. (And that only applies to Terms &c.)

[2020-04-29 13:46] opoudjis commented on #350
Cannot replicate. In both places, I'm getting the expected behaviour when I generate the documents; see attached.

[document.doc.zip](https://github.com/metanorma/metanorma-iso/files/4552035/document.doc.zip)

At this stage, can only ask again that you and @manuel489 generate again and check.

[2020-04-29 14:24] anermina commented on #350
I can confirm I don't have issues with the example document anymore. However, these differences are still present in ISO 10303-52. @manuel489 , please try generating this document as well.

Attached are the outputs I get for ISO 10303-52.
[iso-10303-52.zip](https://github.com/metanorma/metanorma-iso/files/4552229/iso-10303-52.zip)

[2020-04-29 14:45] opoudjis commented on #350
Ok, on the one hand the missing list bullets are also missing my side.

The maths expressions your side are systematically missing the `<math>` wrappers already in the XML, so they are untranslated AsciiMath.

Just in case this is related to https://github.com/metanorma/metanorma-standoc/issues/265 yesterday: could you please include `gem "isodoc", git: "https://github.com/metanorma/isodoc"` in yo

[2020-04-29 15:03] manuel489 commented on #350
@opoudjis , apparently this issue seems to related with this https://github.com/metanorma/metanorma-standoc/issues/243

When I change the sub-clause title `Abbreviated terms` to another text. The problem of the missing equations gets solved. @anermina , could you confirm this please?

[2020-04-29 15:10] manuel489 commented on #350
In these outputs, I put `Abbreviated termss` instead `Abbreviated terms`

[iso-10303-52.zip](https://github.com/metanorma/metanorma-iso/files/4552492/iso-10303-52.zip)

[2020-04-29 15:12] anermina commented on #350
Yes, you're right. Thank you @manuel489 .

[2020-04-29 15:56] opoudjis commented on #350
And Nermina's document suffers from a similar issue: "The presence of Abbreviations is resulting in the MathML markup being stripped..."

So this indicates that the fix from standoc (which is not yet released) needs to be applied here too.

The notes are a different issue: the Html2Doc  code, which is processing rendering of lists, is assuming that all nested lists are ul/li/ul/li... In fact, Meta

[2020-04-29 16:22] #350 closed

[2020-04-29 16:22] opoudjis commented on #350
The notes fix requires an html2doc update.

[2020-04-29 16:32] opoudjis commented on #359
Already addressed in https://github.com/metanorma/metanorma-standoc/issues/265

[2020-04-29 16:32] #359 closed

[2020-04-29 22:00] Intelligent2013 opened #361 "XSLT update for ISO flavors"
@opoudjis FYI, to import updated artefacts into metanorma:
- updated xslt for ISO flavors in mn-native-pdf repository.
- download path for updated mn2pdf.jar: https://github.com/metanorma/mn2pdf/releases/download/v1.10/mn2pdf-1.10.jar
- in command to run mn2pdf.jar add JVM options `-Xss5m -Xmx1024m` after `java`:
`java -Xss5m -Xmx1024m -jar mn2pdf.jar --xml-file ...`

I'll post here any further up

[2020-04-30 01:33] opoudjis commented on #361
With a backlog of 90 tickets, I really would rather you communicate with me about changes in invocation through new tickets. I am checking out new XSLTs before every release (fortnightly), and I will now remember to check for mn2pdf as well; so there is no need to inform me directly.

[2020-04-30 10:17] opoudjis commented on #347
No, @ronaldtse still wants the titles overwritten, but "Symbols and Abbreviations" will be populated based on the source title: it will name either Symbols or Abbreviations only if the source title does.

[2020-04-30 10:30] #361 closed

[2020-04-30 12:43] opoudjis commented on #354
I was explicitly asked to disable crossreference hyperlinks for tables in https://github.com/metanorma/metanorma-iso/issues/301:

I see that there is contradictory advice in https://github.com/metanorma/metanorma-iso/issues/305, which @ronaldtse issued on the same day.

As you can see from their model PDF, https://www.iso.org/files/live/sites/isoorg/files/developing_standards/docs/en/model_documen

[2020-04-30 13:02] opoudjis commented on #300
In reality, the internationalisation model needs to be revisited. The assumption to date has been that titles are internationalised on isodoc, but the PDF stylesheets being unencumbered by i18n, the titles need to be internationalised in XML, and any decision making based on title content needs to be moved to a type attribute on the clause.

[2020-04-30 13:05] opoudjis commented on #347
The title is redundantly set based on content in both asciidoctor and isodoc. The former will be in English for now; eventually titles need to be internationalised properly in the XML, and any decisions about the kind of section (e.g. Normative vs Informative References) need to be made in an attribute. That can be deferred to #300. The solution for now will remain in English; frankly, we have not

[2020-04-30 13:42] opoudjis commented on #347
Couldn't stand it: internationalising now, crudely, as one to one mapping of isodoc yaml entries to English.

[2020-04-30 13:55] #347 closed

[2020-04-30 14:44] #353 closed

[2020-04-30 15:07] opoudjis commented on #352
Footnotes are registered against the `fn/@ref` attribute. But the bibliographic date not is not tagged as a footnote, though it is rendered as one. So because it does not have a `fn/@ref` attribute, both instances are indexed against the value nil, which means they end up conflated. Will assign against GUID if `fn/@ref` is missing.

[2020-04-30 15:28] opoudjis commented on #352
Sorting of ISO references is done by docnumber, the numeric portion of the identifier. For ISO 80000-1, that numeric portion is not extracted in relaton-iso; hence incorrect sorting. Will request this be fixed.

[2020-04-30 15:33] opoudjis commented on #352
Pending https://github.com/relaton/relaton-iso/issues/87

[2020-05-01 03:54] opoudjis commented on #352
No, issue is my side.

[2020-05-01 04:18] opoudjis commented on #352
Adding docnumber to all instances where I generate the reference instead of looking it up.

[2020-05-01 04:21] ronaldtse opened #362 "Duplicated year in page header document identifier"
https://github.com/metanorma/iso-10303/blob/master/sources/iso-10303-104/document.adoc

Using git gems:
[code]

Generates this erroneous document identifier in the page header (the cover is correct).

Source:
[code]

Page header:
<img width="725" alt="Screen Shot 2020-05-01 at 12 21 04 PM" src="https://user-images.githubusercontent.com/11865/80781774-3ba93b80-8ba6-11ea-98bb-cec3b00c04e8.png">

Pag

[2020-05-01 04:39] ronaldtse opened #363 "Crash in compiling ISO 10303-104 with PNG images"
This issue comes from https://github.com/metanorma/iso-10303/pull/31 .

There is an issue in compiling the document:

At this node,
[code]

Metanorma compile crashes with this message:

[code]

I wonder if this is due to the size of the node, or some issue with parsing? It looks correct to me, though.

[2020-05-01 05:02] #352 closed

[2020-05-01 10:18] opoudjis commented on #362
The docidentifier includes the year in ISO, so any specification of them as separate in the templates is incorrect.

[2020-05-01 10:24] opoudjis commented on #362
Introduced docnumber_lang as the full "ISO number:year(X)" identifier in metadata.

[2020-05-01 10:36] #362 closed

[2020-05-01 19:03] ronaldtse commented on #363
Related to https://github.com/sparklemotion/nokogiri/issues/1442

[2020-05-01 19:04] ronaldtse commented on #363
Since this is due to size of node content caused by images, we can:

1. Do not dereference images when parsing. Only dereference them into base64 when the document is completed.
2. Fix our usage of "adding nodes" so that Nokogiri doesn't break.

[2020-05-01 19:19] ronaldtse commented on #354
@opoudjis I'm going to revisit this again:

<img width="611" alt="Screen Shot 2020-05-02 at 3 17 54 AM" src="https://user-images.githubusercontent.com/11865/80834549-85843700-8c23-11ea-85d7-faa7255286dd.png">

This is the actual published document. So ISO does do them.

The Rice document hasn't been updated in a while, so it's possible it is no longer following latest practice.

[2020-05-02 15:47] ronaldtse opened #364 "DIS `<stagename>` was changed to "Draft international standard", need to change XSLT"
@opoudjis should have mentioned this for the new version -- the `<stagename>` element has been changed to show DIS as "Draft international standard", which broke our PDF templates.

This task is for @Intelligent2013 to update the PDF templates for this change. The generated XMLs for all stages can be seen in mn-samples-iso.

Thanks!

[2020-05-04 00:48] opoudjis commented on #354
I am not actioning this until you get explicit confirmation from ISO. I have been burned too many times by guessing editorial policy.

[2020-05-04 01:23] ronaldtse commented on #354
Question sent to ISO/CS, pending reply.

[2020-05-04 01:23] opoudjis commented on #349
Document type is read as document attribute `:doctype:` into `@doctype`.

The current ID generator for ISO documents is at lib/asciidoctor/iso/front.rb; the node.attr("...") retrieve document attributes, so doctype = node.attr("doctype").

[2020-05-04 09:58] opoudjis commented on #354
Confirmed

[2020-05-04 10:04] ronaldtse commented on #354
From ISO/CS

[2020-05-04 10:32] opoudjis commented on #363
Doing the first works for the given issue.

Not clear to me what to do to error-proof "<<"; any rescue would still result in either an incomplete or an empty document.

[2020-05-04 10:33] #363 closed

[2020-05-04 12:46] #364 closed

[2020-05-04 13:39] Intelligent2013 opened #365 "XML: introduce docidentifier with full info (include year and lang)"
Introduce docidentifier that contains all fields for PDF headers:
- doc number
- year
- lang
- etc

Currently some XML contain such docidentifiers (without year):
[code]

I concatenate fields programmatically in xslt like this: `<doc number>:<year>(<lang>)`,
but sometimes in XML docidentifier includes year:
`<docidentifier type="iso">ISO 10303-104:2000</docidentifier>`
and in result we see: ISO 10

[2020-05-05 23:30] opoudjis commented on #365
The iso-with-lang identifier is already the fullest identifier. The year is added to the identifier if it is provided by the user in the `:copyright-year:` document attribute. If it is not provided, I am not comfortable supplying it with the default of the current year, as we may be providing historical documents.

@ronaldtse ?

[2020-05-06 00:17] #354 closed

[2020-05-06 01:20] ronaldtse commented on #365
@opoudjis I believe the documents we see this issue already have copyright year filled in. ISO 690 and ISO 8601-1. Can you verify?

[2020-05-06 01:39] ronaldtse commented on #365
https://raw.githubusercontent.com/metanorma/iso-690/master/sources/iso-690.adoc

https://raw.githubusercontent.com/metanorma/iso-8601-1/master/sources/iso-tc154-8601-1-en.adoc

Both already include copyright-year but it is not given in iso-with-lang.

[2020-05-06 02:53] opoudjis commented on #365
Feature not bug:

The document year is NOT added if the document is not yet published. It is not added, because the document year indicates the year of publication! iso-690.adoc is in stage 40. That's why an ISO standard in print is cited as ISO 690:--, after all.

_Draft document ISO identifiers do not ever contain the year._

ISO 8601-1 is published, at stage 60 substage 60; I've just compiled i

[2020-05-06 03:01] ronaldtse commented on #365
@opoudjis this is a mistake;

ISO 690 has document identifier of "ISO/DIS 690:2020(E)". "ISO-690:--" is citation practice, not the document identifier.

I struggle to find where you came to that conclusion.

This is from the official ISO/DIS 690 cover which you have seen:
<img width="352" alt="Screen Shot 2020-05-06 at 11 01 39 AM" src="https://user-images.githubusercontent.com/11865/81134953-f6f8

[2020-05-06 03:02] ronaldtse commented on #365
[code]

Should have been "ISO 8601-1:2019(E)" (no space between 2019 and (E))

[2020-05-06 03:26] opoudjis commented on #365
There will be three distinct identifiers. Because chaos.

"iso", which does not contain language, and which contains year only if published
"iso-with-lang", which contains language, and which contains year only if published
"iso-refererence", which contains language, and which contains year if available

The top ID in the DIS coverpage (*which I was never asked to support until now*) is "iso", the

[2020-05-06 03:28] ronaldtse commented on #365
Thanks @opoudjis ! 👍

[2020-05-06 13:26] #365 closed

[2020-05-06 20:32] anermina opened #367 "Terms and definitions: rendering subsections in ISO 10303"
When "Terms and definitions" section contains a subsection on second level (e.g. 1.1), it is rendered as a term, i.e. subsection title renders below its number, with smaller font size than for a regular subsection. However, ISO 10303 documents have subsections at second level, which aren't terms with their definitions. In case there is a subsection at third level (e.g. 1.1.1), this is recognized,

[2020-05-07 00:23] opoudjis commented on #255
Merged, thank you! Please also add documentation to https://github.com/metanorma/metanorma.com/blob/master/author/iso/topics/markup.adoc , as a new clause under "Terms and Definitions": say that all terms have automatically assigned ID consisting of "term-" + term text, and what the macro does, with two or three examples.

[2020-05-07 00:25] opoudjis commented on #255
Oh, you forgot to replace spaces and caps. Doing that now, include that in documentation.

[2020-05-07 01:45] ronaldtse opened #368 "Term referencing improvements (`term:[]`)"
1. We should also have `term:[X]` as shorthand as `term:[X,X]` because often we don't need to change the term used (only need to change for plurals, etc).

2. Can we use the `term:[]` syntax inside the document (outside of the Terms and definitions section)?

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-iso/pull/366#issuecomment-624978759_

[2020-05-07 01:45] ronaldtse commented on #368
Also need to ensure this works in IEC. Thanks.

[2020-05-07 02:03] ronaldtse commented on #255
And this please: https://github.com/metanorma/metanorma-iso/issues/368

[2020-05-07 03:23] opoudjis commented on #368
Already done.

[2020-05-07 03:24] opoudjis commented on #368
Yes, it just gets globally replaces with `<em>X</em> (<xref>Y</xref>)` wherever in the document it is.

[2020-05-07 04:56] ronaldtse commented on #255
This is to be done in https://github.com/metanorma/metanorma-iso/pull/369 now.

[2020-05-08 02:37] #368 closed

[2020-05-08 02:38] ronaldtse opened #370 "URGENT: term referencing showing `<termref>` tags in HTML and PDF when term not defined"
Most are fine, but:

HTML:
<img width="874" alt="image" src="https://user-images.githubusercontent.com/11865/81364338-0063bb00-9118-11ea-89e1-48e82f5ad5ee.png">

PDF:
<img width="1069" alt="Screen Shot 2020-05-08 at 10 38 21 AM" src="https://user-images.githubusercontent.com/11865/81364364-0a85b980-9118-11ea-843b-fc8ebba2150f.png">

[2020-05-08 02:41] ronaldtse commented on #370
I found out that these terms are the ones that have not been defined.

Clearly there needs to be a detection mechanism of warning the user just like how it is done with missing references.

[2020-05-11 08:20] w00lf commented on #370
Fixed in #371

[2020-05-11 08:20] #370 closed

[2020-05-12 02:44] opoudjis commented on #367
This may have been fixed in https://github.com/metanorma/metanorma-standoc/issues/270; @anermina please check with github metanorma-standoc

[2020-05-12 10:32] ribose-jeffreylau opened #372 "Dashes in references rendered as double-escaped XML entities"
## Problem description

When there is an emdash (`--`) in a reference, the PDF would show double-escaped XML entities.

### Example AsciiDoc and its corresponding problematic rendered XML

#### Exhibit 1

[code]

[code]

<img width="778" alt="Screenshot 2020-05-12 at 6 04 40 PM" src="https://user-images.githubusercontent.com/2649467/81672501-ca5a6a00-947c-11ea-82a8-d31beefcdcbd.png">

#### Exhibit

[2020-05-13 00:57] ronaldtse opened #374 "Word: missing table identifiers when table is located inside EXAMPLE"
The cross-references still work, but the table identifiers are missing.

[code]

<img width="628" alt="image" src="https://user-images.githubusercontent.com/11865/81759573-a7b96700-94f7-11ea-8752-d2fffe259f41.png">

[2020-05-14 11:51] w00lf commented on #255
@opoudjis @ronaldtse can i close it now?

[2020-05-14 12:02] ronaldtse commented on #255
@w00lf let's close this. Thanks!

[2020-05-14 12:02] #255 closed

[2020-05-16 19:49] anermina commented on #374
This also applies to figures included in Example blocks.

[2020-05-16 19:53] anermina opened #377 "Add Keywords/Descriptors to Metanorma-ISO"
ISO flavor doesn't include `:keywords:` as document attribute. However, ISO 10303-49 includes "Descriptors", which are listed at the end of the paper. This is a single case I encountered while converting ISO 10303 documents, so I was wondering whether keywords should be removed from the source .adoc in this case, or ISO documents can regularly include keywords, making them a needed document attrib

[2020-05-16 20:01] anermina opened #378 "Issues with pseudocode"
In pseudocode blocks, indentation is not preserved and line breaks are not added if source .adoc doesn't include `+` indicators.

This issue was noticed while converting ISO 10303-55 document, so it is opened here. However, I believe it is a general issue, since pseudocode blocks don't render well in ITU flavor, either.

Attached is an example which illustrates the issue.
[pseudocode.zip](https://

[2020-05-16 20:16] anermina commented on #367
@opoudjis , unfortunately, described issue is still present with github metanorma-standoc.

[2020-05-16 20:25] anermina opened #379 "ISO 10303-55: definition list is not generated inside of the NOTE block"
In this specific example, definition of the term "process" should be a part of the (first) multi-paragraph note. However, it is generated below the second note:

![image](https://user-images.githubusercontent.com/55683568/82129460-4b8a6780-97c3-11ea-8bae-91482edf1fb2.png)

This happens when generating the whole ISO 10303-55 document, while both notes generate well when rendering them in separate d

[2020-05-18 11:57] opoudjis commented on #367
@anermina, I admit to having trouble understanding the issue.

If a terminal subclause of a terms clause is not a term, but a subclause with normal text, it needs to be indicated as such by putting `[.nonterm]` in the line before it.

[2020-05-18 12:48] opoudjis commented on #374
That was deliberately done: `lbl = nil if labelled_ancestor(node)` is in the code of isodoc.

That change was brought in in https://github.com/metanorma/isodoc/issues/165:

I regard that decision as sensible: for a captioned example to contain a captioned table seems to me bizarre. Since you disagree, do you want me to relax all the other constraints? Do I at least retain the constraint of not lab

[2020-05-18 13:40] anermina commented on #367
Thank you @opoudjis , this solves the problem.

[2020-05-18 13:41] #367 closed

[2020-05-20 05:53] ronaldtse commented on #374
From ISO/CS' Chief Editor:

1. Tables and Figures are first-class document elements -- they belong to the main document and NOT inside EXAMPLEs or NOTEs.

2. As @opoudjis mentioned, all Tables and Figures must have an independent numbering.

3. ISO/CS says that EXAMPLEs and NOTEs should point to Tables and Figures in the document (i.e. outside of the EXAMPLEs and NOTEs).

[2020-05-20 05:58] ronaldtse commented on #374
Technically, the encoding should be changed to separate the EXAMPLE and the Tables:

[code]

ISO/CS Chief Editor says the "informative/normative" of a Table or Figure purely depends on how it is referred, e.g:

1. A Table/Figure that is only referred by a NOTE or EXAMPLE is purely informative.
2. A Table/Figure that referred by main text as a requirement ("should") is normative.
3. A Table/Figure

[2020-05-20 11:45] opoudjis commented on #345
Each clause is a locality. Grammars restricted to only clauses (not forbidding subclauses at the moment, but it will come).

* Identifier and Amendment-specific metadata will need to be handled
* Heading 1 must be in italics
* No special recognition of clause heading types
* NO assets are numbered, and neither are headings
* Material to be changed, added, deleted is quoted
* Heading numbers will n

[2020-05-20 14:27] opoudjis commented on #345
Remaining:

* Amendment-specific metadata will need to be handled in rendering (title pages)
* Heading 1 must be in italics
* NO assets are numbered, and neither are headings
* Heading numbers will need to be faked in quoted material

[2020-05-20 15:23] manuel489 opened #381 "Placing Admonition at the beginning of the main content"
ISO-13584-42 includes an admonition placed at the beginning of the main content, just before the first section (Scope):

![Capture](https://user-images.githubusercontent.com/33627611/82463986-81fa0800-9a8b-11ea-90af-fae77c071c58.PNG)

However, in generated version, such admonition gets placed at the end of the preface area. Is there a way to get it in the right position?

[2020-05-20 23:35] opoudjis commented on #381
There is not: the content after the preface is explicitly defined in terms of clauses, and crafting an exception is not going to be straightforward. I certainly can't see how this is conformant with ISO/IEC DIR 2. @ronaldtse Do I attempt to, or should Manuel move this somewhere else? If so, where?

[2020-05-21 00:52] anermina commented on #374
Change is applied in https://github.com/metanorma/iso-10303/pull/62.

[2020-05-21 01:02] ronaldtse commented on #381
Requested clarification from ISO/CS regarding:

1. Is this “IMPORTANT” message a best practice for software specification standards?

2. ISO DP 2 18.4 only shows the “WARNING" admonition — is “IMPORTANT” also one of the types allowed? Are there other message types, e.g. CAUTION?

3. Is IMPORTANT only allowed to be placed before the Scope? Or is it allowed in all places, like NOTEs? Is WARNING only

[2020-05-21 01:06] ronaldtse commented on #374
Thanks, closing.

[2020-05-21 01:06] #374 closed

[2020-05-21 10:08] opoudjis commented on #381
There is of course a perfectly compliant solution, which I'd prefer: place the admonition inside the Scope. I could even sneak in a move to flip the admonition at the start of Scope before the scope in postprocessing. But the clarification is important anyway, because I do not believe this usage is compliant after all: ISO is very invested in every letter of a document being refererncable inside o

[2020-05-21 14:02] #345 closed

[2020-05-21 14:02] opoudjis commented on #345
Done as much as I care to. @ronaldtse Please test with editors.

[2020-05-24 09:14] opoudjis commented on #349
I'll take this back over, given I've been refactoring this code...

[2020-05-24 09:40] #349 closed

[2020-05-25 10:19] opoudjis commented on #379
There is a long standing policy in Metanorma that by default notes are included in the block that immediately precedes them --- in this instance, the preceding definition list.  Clearly this can't always be the case, even though I think it is a proper default. I will address this by adding a "keep-separate" attribute. So:

`[NOTE,keep-separate=true]`

[2020-05-25 12:03] #379 closed

[2020-05-25 17:52] ronaldtse commented on #377
A number of ISO 10303 documents include them, so we should enhance Metanorma-ISO to accept them.

[2020-05-25 19:41] ronaldtse commented on #381
From ISO/CS:

[2020-05-25 19:42] ronaldtse commented on #381
The best way to deal with an admonition before the Scope is to have it apply directly to the document itself.

[2020-05-28 10:32] #372 closed

[2020-05-28 17:06] ronaldtse opened #382 "Metanorma "presentational XML" form"
We wish to create a "presentational XML" form of MN XML, which makes the current super-clean, semantic XML the "semantic XML".

(This aligns with the separation in MathML of semantic MathML vs presentational MathML)

The presentational XML is the "fully-expanded form", meaning that all logic has already been processed in this document.

The goal is to allow a user of presentational MN XML to be ab

[2020-05-29 06:26] ronaldtse opened #383 "Document identifiers of Amendments are incorrect"
From mn-samples-iso:

FINAL (stage 60.60)
<img width="1037" alt="Screen Shot 2020-05-29 at 2 09 35 PM" src="https://user-images.githubusercontent.com/11865/83227141-09dfc080-a1b6-11ea-9be0-a01bbd3e6878.png">
The correct identifier is "ISO 17303-1:2016/Amd 1", not "ISO 17301-1:2016/Amd.1".

<img width="645" alt="Screen Shot 2020-05-29 at 2 09 53 PM" src="https://user-images.githubusercontent.com/11

[2020-05-29 06:53] ronaldtse opened #384 "Document identifiers for technical corrigendum"
FDCor
<img width="603" alt="Screen Shot 2020-05-29 at 2 46 47 PM" src="https://user-images.githubusercontent.com/11865/83230108-c720e700-a1bb-11ea-9644-1fddfd2f95f3.png">

DIS Cor
<img width="603" alt="Screen Shot 2020-05-29 at 2 48 21 PM" src="https://user-images.githubusercontent.com/11865/83230093-c25c3300-a1bb-11ea-9778-1e8173a725b0.png">

WD Cor
<img width="627" alt="Screen Shot 2020-05-29 at

[2020-05-29 06:57] ronaldtse opened #385 "Document identifiers for technical reports/specifications"
DTR
<img width="667" alt="Screen Shot 2020-05-29 at 2 54 56 PM" src="https://user-images.githubusercontent.com/11865/83230460-5e863a00-a1bc-11ea-8f40-99287b65691a.png">

CD TR
<img width="600" alt="Screen Shot 2020-05-29 at 2 55 35 PM" src="https://user-images.githubusercontent.com/11865/83230518-752c9100-a1bc-11ea-91b6-5f66c66524ea.png">

WD TR
<img width="626" alt="Screen Shot 2020-05-29 at 2 55

[2020-05-29 07:00] ronaldtse commented on #385
DTS
<img width="638" alt="Screen Shot 2020-05-29 at 2 57 28 PM" src="https://user-images.githubusercontent.com/11865/83230778-f71cba00-a1bc-11ea-947c-fcff9082bbd5.png">

CD TS
<img width="623" alt="Screen Shot 2020-05-29 at 2 57 35 PM" src="https://user-images.githubusercontent.com/11865/83230782-f84de700-a1bc-11ea-95ab-f61246a6e4ae.png">

WD TS
<img width="565" alt="Screen Shot 2020-05-29 at 2 57

[2020-05-29 12:15] opoudjis commented on #384
DAmd, FDAmd
*DIS Cor*, FDCor

Because Reasons.

[2020-05-29 12:32] #383 closed

[2020-05-29 12:32] #385 closed

[2020-05-29 12:32] #384 closed

[2020-05-29 12:38] opoudjis commented on #351
Do not report four digit number if preceded by "in" or month.

[2020-05-29 12:45] ronaldtse commented on #384
I'm with you. Just the way it is...

[2020-05-29 12:45] opoudjis commented on #351
If "do not" is being flagged as a requirement phrase, require it to be preceded by punctuation.

[2020-05-29 13:02] opoudjis commented on #351
Use a tokeniser to split up paragraphs for identification of numbers.

[2020-05-29 13:16] opoudjis commented on #351
Permit `ul | ol | dl | formula` in termnote.

Relaxed unreasonable ISO grammar requirement that unordered lists contain only paras; the more general standoc grammar does not impose that constraint.

[2020-05-29 13:20] opoudjis commented on #351
Error log reduced to a third of its previous size.

[2020-05-29 13:20] #351 closed

[2020-05-30 13:59] opoudjis commented on #381
Going to have to do this with an option flagging the admonition(s) as `[%beforeclauses]`

[2020-05-30 14:50] opoudjis commented on #381
For now, only licensing in grammar of ISO

[2020-05-30 15:11] #381 closed

[2020-05-30 15:18] opoudjis commented on #377
In HTML, they should not placed in a final colophon, and ICS already isn't. These two are being put at the bottom of the title section instead.

[2020-05-30 15:27] opoudjis commented on #377
Moving keywords to isodoc from individual flavours

[2020-05-30 15:54] #377 closed

[2020-05-30 16:14] opoudjis commented on #378
OK, we have a problem @manuel489 @anermina

https://github.com/metanorma/metanorma-standoc/issues/275 is incorrect

`[pseudocode]` is not just a style attribute: it invokes the macro which guarantees that initial indents and line breaks are applied. The advice to use `[.pseudocode]` instead is incorrect, and rescinded, and I am reopening https://github.com/metanorma/metanorma-standoc/issues/275

[2020-05-30 16:14] #378 closed

[2020-05-30 16:37] opoudjis commented on #378
I have now resolved the original issue that provoked this erroneous suggestion.

[2020-05-30 16:54] opoudjis commented on #357
Am reluctant to implement without evidence of a fixed structure for errata from OGC; and since this seems to have been a joint ISO structure originally, the warrant for this cannot extend to ISO anyway. @ronaldtse?

[2020-05-30 17:05] opoudjis commented on #357
This presupposes serious engagement with SDOs, to establish their requirements for errata.

[2020-06-03 09:13] ronaldtse opened #386 "Add format: NISO STS via `mn2sts` gem"
The JAR https://github.com/metanorma/mn2sts is packed in the `mn2sts` gem at https://github.com/metanorma/mn2sts-ruby.

mn2sts produces an NISO STS XML compliant with ISOSTS (the ISO internal STS format) from a Metanorma XML.

The current version of `mn2sts` is 1.1.0.

[2020-06-03 15:26] #344 closed

[2020-06-04 06:16] ronaldtse commented on #357
@opoudjis pending feedback from OGC now.

[2020-06-04 13:02] anermina opened #387 "ISO amendment: Generating titles of updated document"
Titles (from ISO document which amendment refers to) cannot be generated properly. We have a complete Annex E in the ISO Rice amendment, but cannot generate its title in Metanorma. Therefore, both PDF and DOC are not generated properly.

PDF:
![image](https://user-images.githubusercontent.com/55683568/83756903-ff1ea300-a66f-11ea-8efb-92d9cc01a8db.png)

DOC:
![image](https://user-images.githubuserc

[2020-06-04 13:05] anermina opened #388 "ISO amendment: Numbering figures/tables/code blocks/examples"
Figures are titled/numbered differently in generated DOC/PDF comparing to the original.

Generated DOC doesn't include "Figure x" before the caption. Generated PDF numbers figures with 1, 2, etc., while the original document can include a section indicator, such as "Figure A.1".

It might be helpful if we could manually add figure/table/code/example number in amendments and other document types wh

[2020-06-04 13:07] anermina opened #389 "ISO amendment: Font size for the "Key" after the figures"
Font size  for the "Key" after the figures is smaller in the original document than in generated DOC.

Generated DOC:
![image](https://user-images.githubusercontent.com/55683568/83760444-3d6a9100-a675-11ea-8b1d-9a61956851c9.png)

Original:
![image](https://user-images.githubusercontent.com/55683568/83760507-52472480-a675-11ea-9ecd-31a1a90e3f1c.png)

[2020-06-04 13:10] anermina opened #390 "ISO amendment: Generating table of contents"
Based on the amendment model, ToC shouldn't be generated in amendments.
Currently, it is generated in both PDF and DOC.

[2020-06-04 13:16] anermina opened #391 "ISO amendment: Front page and Copyright page styles"
- Front page differs in generated DOC and PDF, for all `docstage`s. I'm not sure whether PDF or DOC (or neither) is correct, since I don't have original documents in different `docstage`s.

Examples for AWI and CD are below.

PDF (AWI):
![image](https://user-images.githubusercontent.com/55683568/83755868-80753600-a66e-11ea-92b8-3a72f51728d6.png)

DOC (AWI):
![image](https://user-images.githubuserc

[2020-06-04 13:59] ronaldtse commented on #391
@anermina the DOC and PDF outputs are different because they are for different purposes.

The Word output is for official submission (author or committee => ISO/CS).

The PDF output is for review distribution (author or committee => other parties).

The official "copyright statement" is attached here:

<img width="677" alt="Screen Shot 2020-06-04 at 9 59 19 PM" src="https://user-images.githubuserc

[2020-06-04 14:03] anermina commented on #391
Thank you for explanation, @ronaldtse ! It answers to all the questions posed in this ticket, so I'll close it.

[2020-06-04 14:03] #391 closed

[2020-06-04 20:12] anermina opened #392 "Error using shortcut syntax for terms referencing"
When shortcut for term is used, the rest of the text doesn't render at all.

For example, following text in .adoc:
`term:[husked rice] from which almost all of the bran and embryo have been removed by milling`

produces only:
`husked rice`

[example.zip](https://github.com/metanorma/metanorma-iso/files/4732476/example.zip)

[2020-06-04 20:40] anermina opened #393 "ISO IS document review"
Generated DOC and PDF versions of ISO Rice International Standard were compared against the ISO IS model. Following differences were noticed:

*Difference 1*. In footnote description, number of the footnote is not subscripted in PDF, unlike in DOC. PDF matches the original.

Generated DOC:
![image](https://user-images.githubusercontent.com/55683568/83807316-2cd90b80-a6b3-11ea-9cb0-b70d8b307cde.png

[2020-06-04 21:10] anermina opened #394 "Table of contents style in ISO"
Differences between ToC of the generated DOC and the original ToC are as follows:

- Subsection titles are indented in ToC of the original and generated PDF, unlike in generated DOC.

- Subsubsections (sections at third level) are shown in ToC of the original document, unlike in the generated DOC.

- Subsections from annexes are not shown in ToC of the original document, unlike in the generated DO

[2020-06-05 01:56] opoudjis commented on #386
Add to IEC as well

[2020-06-05 21:01] anermina opened #395 "Error using gems "asciimath" and "isodoc""
In order to properly generate some math expressions, gem "asciimath" needs to be used (https://github.com/metanorma/metanorma-standoc/issues/257#issuecomment-621159820).
In order to avoid issues with Windows failing to run rspec, gem "isodoc" needs to be used (https://github.com/metanorma/metanorma-itu/issues/213).

However, these two gems cannot be used at the same time, producing the following e

[2020-06-06 11:47] CAMOBAP commented on #395
@anermina could you please share Gemfile or repository which you used

[2020-06-06 20:44] anermina commented on #395
Gemfile content is as follows:

[code]

[2020-06-08 04:07] opoudjis commented on #392
Two problems, one @anermina, and one @w00lf

@anermina: the content of the `term:[]` macro is not the text that will appear there, but the anchor of the term: not `term:[husked rice]`, but `term:[husked-rice]`. Metanorma looks up the text of the term, and inserts it at that location. If the text is different from the lookup term, you insert it as the second argument of the macro; e.g. `term:[huske

[2020-06-08 04:15] opoudjis commented on #392
Code intended to strip just the surrounding parentheses around "missing" when there was no corresponding target. Instead, they are stripping all surrounding text.

Moreover, I'm changing "missing" to MISSING, the error needs to be more obvious.

[2020-06-08 08:19] #386 closed

[2020-06-08 17:44] anermina commented on #392
Thanks for explanation, @opoudjis. Someone else converted document which had this issue and I referred to https://www.metanorma.com/author/iso/topics/markup/ when I noticed the problem. It is of course logical that anchors should be used, but can you please also change the following example on the aforementioned link, so that it says `term:[terminological-data]` instead of `term:[terminological da

[2020-06-08 17:55] ronaldtse commented on #392
@opoudjis @anermina the intent is: `term:[husked rice]`, not `term:[husked-rice]`.

And `term:[husked rice,rice that is husked]`, not `term:[husked-rice,rice that is husked]`.

[2020-06-09 05:30] ronaldtse commented on #392
Proof that this worked properly before.

<img width="434" alt="Screen Shot 2020-06-09 at 1 25 19 PM" src="https://user-images.githubusercontent.com/11865/84109444-3ec10280-aa55-11ea-88d7-88581e3d1fd7.png">

<img width="555" alt="Screen Shot 2020-06-09 at 1 25 23 PM" src="https://user-images.githubusercontent.com/11865/84109439-3c5ea880-aa55-11ea-8f2d-0f39affa760b.png">

This is either a bug or a r

[2020-06-09 06:04] opoudjis commented on #392
Try now.

Bug was only impacting cases when an anchor had been assigned; that's been fixed. The text should indeed be `term:[husked rice]`.

[2020-06-09 06:07] ronaldtse commented on #392
Thank you @opoudjis ! You're the best.

[2020-06-09 14:33] anermina commented on #392
I couldn't agree more. Thanks @opoudjis , it works perfectly now.

[2020-06-09 14:33] #392 closed

[2020-06-10 13:30] opoudjis opened #396 "Inconsistency in document identifier types"
Bibitem (relaton) uses "ISO", bibdata (metanorma) uses "iso". In https://github.com/metanorma/metanorma/issues/110, we convert bibdata to bibitem; so we are fixing that inconsistency, and using "ISO" throughout.

[2020-06-10 13:35] #396 closed, assigned to opoudjis

[2020-06-10 19:12] anermina opened #397 "XML: ISO Rice IS review"
Two minor changes are required in ISO Rice IS:

- Remove "ISO DATE:" text from the footnote 1.

- "Normative References" title should be changed to "Normative references", i.e. capital R should be replaced with small r.

(Original comments copied from https://github.com/metanorma/mn-native-pdf/issues/59#issuecomment-642134861)

[2020-06-10 19:17] anermina opened #398 "DOC: ISO Rice IS review"
A minor difference between DOC and PDF outputs is noticed in ISO Rice IS:
Format of the description of math symbols after the equations differs. DOC always adds a line break after the word "where", unlike PDF. PDF matches the original.

(Originally posted in https://github.com/metanorma/mn-native-pdf/issues/59#issuecomment-639098029 and https://github.com/metanorma/mn-native-pdf/issues/59#issuecom

[2020-06-15 01:07] #358 closed

[2020-06-15 10:50] opoudjis commented on #387
And it's not clear how this can be fixed in the general case; I faked it by bolding the title instead of marking it up as an Asciidoc title, and I do think that you can't put real asciidoc here for headers, when the content is quoted.

@ronaldtse is going to hate it. But seriously, do you want a heading within quotes here? It will potentially destroy the document structure.

[2020-06-15 10:52] opoudjis commented on #388
Autonumbering is very clearly completely inapplicable to quoted material in amendments. https://github.com/metanorma/metanorma-standoc/issues/287 is for overriding autonumbering, and *might* be the solution here. But suppressing numbering was a deliberate choice on my part.

[2020-06-15 11:00] ronaldtse commented on #387
Locality stack for the title :wink:

[2020-06-15 13:25] #390 closed

[2020-06-15 13:29] opoudjis commented on #389
This applies to all figure keys, not just amendments.

[2020-06-15 13:38] #389 closed

[2020-06-15 13:42] #388 closed

[2020-06-16 00:19] opoudjis commented on #387
... What does that have to do with rendering?

You keep saying locality Stack, and I do not know what you are expecting it to do.

[2020-06-16 02:55] ronaldtse commented on #387
The locality stack syntax is now used to indicate the location of a bibliographic item within another bibliographic item.

In the same way, it can also be used to indicate the current location of a specific document element. Therefore if it is necessary to indicate a clause represents "Annex E", we can use the locality stack to achieve that.

[2020-06-16 15:35] #296 closed

[2020-06-17 12:41] opoudjis commented on #387
This is purely a rendering issue. Knowing that a title is an annex title doesn't help here, because an Asciidoctor title in blockquotes is not going to render as a blockquote title to begin with. (It is the only such Asciidoctor markup, because it is the only markup above the block level, which must be ignored within a block.)

The solution for titles within blockquotes *has* to be to ignore the t

[2020-06-17 12:49] opoudjis commented on #397
Normative References: will defer addressing this to https://github.com/metanorma/metanorma-standoc/issues/285, the title contents of fixed sections is an internationalisation issue.

[2020-06-17 13:45] opoudjis commented on #397
ISO DATE prefix to biblio note swapped out for biblio type:

[code]

to

[code]

[2020-06-17 14:00] #397 closed

[2020-06-17 15:46] ronaldtse commented on #397
Is there something more semantically sane than `<note type="ISO DATE">...</note>`?

[2020-06-18 10:05] opoudjis commented on #394
The ISO Word document template is the basis for the DOC style, and it does ToC the way I have done them: https://www.iso.org/iso-templates.html

ISO 8000-140(E).doc, ISO 22745-1.docx, ISO_8601-2004_E.pdf all have their ToCs the same way. On the other hand, ISO_10303-108_2005.pdf, iso-34000.pdf, ISO_IEC_27000_2014.pdf has indented (but not boldface) ToC.

My surmise is that the difference between D

[2020-06-18 13:07] #398 closed

[2020-06-18 14:05] opoudjis commented on #393
Difference 1, footnote rendering, is NOT supported in the Word template provided by ISO, which does not even use the parenthesis (let along sizing the footnote reference differently from the footnote anchor). Will not action unless confirmed by ISO, they may want the Word document to keep default footnote rendering. (So may need to revert https://github.com/metanorma/metanorma-iso/issues/301). @ro

[2020-06-18 14:06] opoudjis commented on #393
Of the points gone through,

* Difference 1 to be escalated.
* Difference 5 rejected.

[2020-06-19 05:26] ronaldtse commented on #393
Difference 1. Let’s not forget that the Word output and PDF output are for different purposes. Word is for review (track changes) and submission to ISO/CS. PDF is only for review and reading. This discrepancy is acceptable. There is no need to escalate this to ISO because they will provide the same sort of answer.

Difference 5. The ISO Rice document was authored a couple years ago and contains a

[2020-06-19 05:45] opoudjis commented on #393
In that case, ticket closed.

[2020-06-19 05:45] #393 closed

[2020-06-25 09:33] opoudjis opened #402 "Citation of unpublished items"
* Repeat "unpublished" footnote in first instance of citation of that item
* Footnote should include stage of draft, if available. Can only be DIS or FDIS.
* Rename ISO DATE type of biblio note to "Unpublished Status"
* If bibliographic reference is autofetched and is unpublished, insert the same biblio note

[2020-06-25 09:35] opoudjis opened #403 "Technical reports cannot include requirement language"
Add to validation checks

[2020-06-25 14:16] opoudjis commented on #397
sigh... Will address in https://github.com/metanorma/metanorma-iso/issues/402

[2020-06-25 14:44] opoudjis commented on #395
Btw asciimath is now updated to 2.0.0, which means @anermina you should no longer need to pull the asciimath gem from github. I'm going a major release tomorrow, but I'm bumping up the asciimath dependency with html2doc tonight.

@CAMOBAP @anermina That means this issue may go away after tomorrow.

[2020-07-04 16:16] CAMOBAP commented on #395
looks fixed, @anermina  could you please confirm?

[2020-07-05 12:58] ronaldtse commented on #395
Ping @anermina this is supposed to be fixed. Any further issues?

[2020-07-07 05:04] ronaldtse opened #406 "Serious regression: ISO Word documents are now all in ARIAL font"
Version 1.3.27 worked. Version 1.4.0 broke the fonts.

[2020-07-07 06:27] opoudjis commented on #406
PresentationXML lack of fonts is making the default font assignment stick to the hash of isodoc options being passed around the loop of isodoc generations in metanorma gem. Fixed by resetting each time, which is the right thing to do anyway.

[2020-07-07 06:30] #406 closed

[2020-07-12 14:53] anermina commented on #395
All good now. Closing.

[2020-07-12 14:53] #395 closed

[2020-07-13 13:39] opoudjis commented on #300
The needed refactor is:

1. Internationalisation needs to be defined as a class, with class inheritance, just as is now done with xrefs.
2. There is only one internationalisation file, in isodoc class, and asciidoc class uses the isodoc internationalisation class.

[2020-07-14 15:11] opoudjis commented on #300
Refactor of 1, 2 is done. Now the fixes requested in December become dependent on metanorma/isodoc#171.

[2020-07-21 17:04] ronaldtse opened #408 "When there is no detected T&D section (e.g. wrong title), document rendering is completely broken"
The XML will contain a `<terms>` section like this:

[code]

But this rendering does not even show in the HTML output.

The eventual document will be all broken: (see clause 3 and 4 swapped, despite that the include order is 3 then 4).

![image](https://user-images.githubusercontent.com/11865/88084426-01ed3d00-cbb7-11ea-95f1-46ed1391ee38.png)

The Annex will also be broken if there are no terms de

[2020-07-24 20:53] manuel489 opened #409 ""Foreword" title missing in ISO-10303-50"
In [ISO-10303-50](https://github.com/metanorma/iso-10303/tree/master/sources/iso-10303-50) the *Foreword* title doesn't show up.

![no-foreword-title](https://user-images.githubusercontent.com/33627611/88433565-56b5d100-cdcc-11ea-8564-b1383f47c8ff.PNG)

However, it is worth to say that in this document, there is a preface file (with two preface sections in it) placed before the foreword:

*ISO-103

[2020-07-27 14:50] opoudjis commented on #408
@ronaldtse Point me to what document this is in. Not actioning this without that.

[2020-07-30 10:40] ronaldtse commented on #408
https://github.com/metanorma/iso-10303/commit/fc88f31aae83d713bfd8bb7269f163528dc0c1d5#diff-f2ab5fb218da8b84623f45579aa4ba11

[2020-07-30 10:45] ronaldtse commented on #408
i.e. if you change the T&D section to an unrecognized title, your document will break.

If there is no recognized T&D title, then there should be a T&D section with no entries, and the document rendering shouldn't break.

[2020-07-30 11:39] opoudjis opened #411 "ISO 10303-104 clauses are being misrecognised as definition sections"

[2020-07-30 11:51] opoudjis commented on #411
if a nonterm symbols clauseis detected, then `@definitions` status variable is being set to false, but then is naively set back to true. It should be set back to whatever its previous value was, which in this case was still false. Because of naive assumption, definitions status variable is persisting falsely into following clauses.

[2020-07-30 11:56] #411 closed

[2020-07-30 11:56] opoudjis commented on #408
Introducing a new terms empty terms section is a new and unwelcome change.

[2020-07-30 11:59] opoudjis commented on #408
There was a rogue `@definitions` status variable: a definitions clause was detected, under `[.nonterm]`, but the status variable was never being turned off. As a result, everything was being treated as a Symbols & Abbreviations clause.

Fixing this in https://github.com/metanorma/metanorma-iso/issues/411 is fixing most of these issues. The clauses are now being parsed in the right order, since the

[2020-07-30 12:05] opoudjis commented on #408
Generalising task: inserting missing scope, normative references, and terms & definitions.

[2020-07-30 12:21] ronaldtse commented on #408
We need to determine whether the insertion of default clauses is necessary -- how do we deal with legacy? Or is there a document attribute that "forces compliance" vs "relaxed"?

[2020-07-30 12:31] opoudjis commented on #408
No insertion for now; will make warnings on absent sections more explicit

[2020-07-30 12:43] #408 closed

[2020-07-30 12:45] opoudjis commented on #309
This issue will have gone away with the internationalisation refactoring just completed. Could someone please review it?

[2020-07-30 12:46] ronaldtse commented on #309
@metanorma/editors can you help discover (and file issues) the gaps we have in non-English ISO documents? Thanks!

[2020-07-31 23:36] manuel489 opened #412 "non-Eng review: Some predefined section titles aren't in Chinese. Should they be so?"
*As requested in https://github.com/metanorma/metanorma-iso/issues/309#issuecomment-666342904*

Predefined sections like "Foreword", "Introduction", "Scope", "Normative references" and "Terms and Definitions" are not rendering in Chinese language (nor their boilerplates).
I have noticed that the markup is slightly different in these cases:

[code]

Which is as stated in the documentation. So I won

[2020-08-02 18:08] anermina commented on #412
According to https://github.com/metanorma/metanorma-iso/issues/299, specifically https://github.com/metanorma/metanorma-iso/issues/299#issuecomment-575090670, I believe that markup is correct, but the titles should be in Chinese.

[2020-08-02 18:42] anermina opened #413 "Non-English (Chinese) document review: ISO Rice ZH"
_As requested in [#309 (comment)](https://github.com/metanorma/metanorma-iso/issues/309#issuecomment-666342904) and in addition to https://github.com/metanorma/metanorma-iso/issues/412_

1. Cross-references to annexes/appendices, figures and tables are in English.

![image](https://user-images.githubusercontent.com/55683568/89129274-63d56d00-d4fc-11ea-9c17-e474b648381c.png)

2. Introduction to Nor

[2020-08-03 14:43] opoudjis commented on #413
You will be assigning this to me eventually?

[2020-08-03 19:14] anermina commented on #413
Yes @opoudjis, please let me know if I can assign the ticket now. Otherwise, I'll let it like this until you have some more time.

[2020-08-11 13:49] #412 closed

[2020-08-15 13:06] opoudjis commented on #357
Ticker superseded by https://github.com/metanorma/metanorma-ogc/issues/152

[2020-08-15 13:06] #357 closed

[2020-08-15 14:04] ronaldtse commented on #394
The difference between DOC and PDF is because DOC is supposed to be the "simple" format. The production layout is the PDF "indented ToC". Word has non-indented ToC because I imagine it is difficult for Word to do indented ToC.

Right now the Word version is intended for submission to ISO/CS.

As for the rest:

PDF is correct.

I don't know what is correct here, I suspect that PDF is.

PDF is corre

[2020-08-15 14:39] ronaldtse commented on #357
ISO doesn't have Errata, they issue Errata using a new TC or a new revision.

[2020-08-19 08:58] ronaldtse opened #415 "Enable ISOSTS extension output"
mn2sts now supports ISOSTS output in addition to NISO STS.

Add command line parameter `--output-format iso`:
[code]
_Originally posted by @Intelligent2013 in https://github.com/metanorma/mn2sts/issues/13#issuecomment-675457435_

[2020-08-24 10:29] opoudjis commented on #409
Well, this is a markup error, and we are going to have to change markup to deal with this.

In Metanorma, forewords are, *by definition* the first text found in an Asciidoc text, before the sections start. if text appears before the putative foreword, it is going to be treated as the foreword, so the actual foreword will not get its own heading.

I am tempted to address this by enabling an explici

[2020-08-24 10:41] opoudjis commented on #409
Modifying behaviour of admonitions with attribute beforeclauses=true:

* An admonition within a main clause with beforeclauses=true will be moved before the scope:

[code]

* An admonition within a clause section (including the foreword) with beforeclauses=true will be moved before the foreword:

[code]

I am currently only doing this for admonitions. I would rather not extend this from admonition

[2020-08-24 13:40] #409 closed

[2020-08-24 14:02] opoudjis commented on #394
Turns out that whether a section is considered to be Level 2 for the purposes of indexing in Word is determined not by mso-list in the CSS but by mso-outline-level. Updating CSS.

[2020-08-24 14:30] opoudjis commented on #394
Will not fix, it is missing from the ISO Word template.

Will not fix, that is how it is in the ISO Word template. I suspect it is an error (there are two tabs in the Word ToC style, and removing the first one will give the PDF behaviour); but it's a universal error.

Will not fix, that is how it is in the ISO Word template.

[2020-08-24 14:49] opoudjis commented on #394
Debugged as noted above

Confirmed in Word template, fixed

Will not fix, not realised in the ISO Word template, which expressly defines the ToC style as boldface

[2020-08-24 14:50] #394 closed

[2020-08-29 09:30] ronaldtse opened #416 "Missing ISO document identifier and revdate at stage 60/60"
Generated document:
<img width="608" alt="Screen Shot 2020-08-29 at 5 29 08 PM" src="https://user-images.githubusercontent.com/11865/91633711-255ca080-ea1d-11ea-8dc0-62a06c2b96d1.png">

Encoding:
[code]

Previously:
<img width="608" alt="Screen Shot 2020-08-29 at 5 29 23 PM" src="https://user-images.githubusercontent.com/11865/91633715-2f7e9f00-ea1d-11ea-944d-08a908ea6e86.png">

[2020-08-29 10:33] Intelligent2013 commented on #416
Fixed.
![изображение](https://user-images.githubusercontent.com/5559926/91634782-b4f15780-e9fb-11ea-8e54-26c4d645ee62.png)

Changes:
- in the previous version I've put published date for IS, now - if there is published date, then put it, else revision date.
- docidentifier attribute 'type' was changed from 'iso' to 'ISO':
`<docidentifier type="iso">ISO 10303-11:2004</docidentifier>` ->  `<docident

[2020-08-29 10:33] #416 closed

[2020-08-31 11:09] opoudjis commented on #415
Implemented as -t isosts.

[2020-08-31 11:36] #415 closed

[2020-09-01 17:10] opoudjis commented on #295
Requirements have been implemented throughout Metanorma, but rendering requirements as tables is specific to OGC, and extending that rendering to other flavours is unwarranted. I'm not convinced this needs to be actioned: the block rendering of requirements in ISO is legitimate. @ronaldtse?

[2020-09-01 17:53] ronaldtse commented on #295
We need to render OGC requirements in ISO flavors, there are a few documents that need this. What's the easiest and cleanest way to do this?

[2020-09-02 03:48] ronaldtse commented on #295
Superseded by metanorma/isodoc#200 .

[2020-09-02 03:48] #295 closed

[2020-09-03 19:45] anermina opened #417 "Auto-fetching references in native language of the document"
References should probably be auto-fetched in native language. Example of current differences between the original and generated ISO Rice IS document in French is given below.

Original:
![image](https://user-images.githubusercontent.com/55683568/92159004-fedba280-ee2c-11ea-93e3-daeedf90bf6d.png)

Generated:
![image](https://user-images.githubusercontent.com/55683568/92159153-3f3b2080-ee2d-11ea-82

[2020-09-03 19:46] anermina opened #418 "Missing translations to French"
Translation to French is needed for:

- "Reference number" in the front page footer

Original:
![image](https://user-images.githubusercontent.com/55683568/92159064-1a46ad80-ee2d-11ea-96dd-9b51d907dc44.png)

Generated:
![image](https://user-images.githubusercontent.com/55683568/92158818-c4720580-ee2c-11ea-8d22-4a3e2429971f.png)

- "All rights reserved" in the footer of other pages

Original:
![imag

[2020-09-03 20:08] anermina opened #419 "Rendering syntax `[en]#t-en# [fr]#t-fr#`"
If document attribute `language` is set to `fr`, I'm not sure whether syntax `=== [en]#husked rice# [fr]#riz décortiqué#` should produce the title only in French or in both languages, as it does now. The same applies for using `:language: zh`.

Since this syntax was used in Chinese version of the document which was converted earlier, the same principle was followed for French version as well. In c

[2020-09-03 20:15] anermina opened #420 "PDF: Overlapping table caption"
Table caption overlaps with its cells when caption is split in two rows. Example is shown below.

![image](https://user-images.githubusercontent.com/55683568/92162527-998ab000-ee32-11ea-9e18-22ac75742bc9.png)

I'm also not sure whether `(continued)` should be present in ISO. In case it should, I believe it should be translated to the language of the document (French in this specific case).

[2020-09-04 12:24] opoudjis commented on #418
Thank you; but I am putting this in medium rather than high priority, because of the large backlog

[2020-09-04 12:25] opoudjis commented on #419
This is indeed a bug.

[2020-09-07 14:26] Intelligent2013 commented on #420
It's hard to fix. Apache FOP has a limitation. As desribed here https://stackoverflow.com/questions/30974903/xslfo-retrieve-marker-not-valid-child:
[code]

I.e. without 'continued' addon, the table's title placed in one line (for start page of table), but in continuation, the space not  enough for two lines ('continued' added a second line), because row height was calculated for one line.

I'll tr

[2020-09-07 18:18] Intelligent2013 commented on #420
I saw a continued table's header in one of source documents (https://github.com/metanorma/mn-native-pdf/issues/177), therefore I've added it then.

Issue fixed by adding a 'Continue' label at second line after the table title.
![изображение](https://user-images.githubusercontent.com/5559926/92410967-a66b1480-f14e-11ea-95e8-4623b8b909c6.png)

[2020-09-07 18:18] #420 closed

[2020-09-09 08:20] ronaldtse commented on #417
@andrew2net we are able to fetch French in ISO, right? Then is this something to do at the Metanorma side?

[2020-09-09 11:44] andrew2net commented on #417
@ronaldtse we have a `{ lang: "fr" }` option, but it doesn't do much. Some documents have titles and abstracts in different languages. The relaton-iso fetches an English version of a document, in any case, because the page needed to get links to pages in other languages.
It seems there are only English and French pages on the iso.org. So in case, we fetch an English version of a document (`{ lang:

[2020-09-15 13:09] opoudjis commented on #180
Calling it droploc:

[code]

[2020-09-15 14:53] #180 closed

[2020-09-16 07:54] ronaldtse opened #422 "Update ISO Amendment PDF layout"
I think we need to find a DAmd layout to check. We're not showing the "Amendment name" (see below cover)

[Archive.zip](https://github.com/metanorma/metanorma-iso/files/5230685/Archive.zip)

<img width="631" alt="Screen Shot 2020-09-16 at 3 48 52 PM" src="https://user-images.githubusercontent.com/11865/93307897-20c52400-f834-11ea-8f3a-ef46f3c4c7c2.png">

[2020-09-16 10:05] Intelligent2013 commented on #422
Fixed.
![изображение](https://user-images.githubusercontent.com/5559926/93323385-37ac4c00-f81d-11ea-8e06-daf5126e4c3a.png)

[2020-09-16 10:15] ronaldtse commented on #422
Ping @opoudjis on schedule a PR.

[2020-09-17 13:51] opoudjis commented on #422
PDF XSLT updates are pulled just before gem release, as a matter of course. There is nothing for me to do for this ticket that I do not do every fortnight, there is no PR process to be initiated manually for XSLT updates. Alex Bobrokovich still has the task of initiating them automatically from commits in mn-native-pdf and mn-native-pdf-nist: https://github.com/metanorma/mn-native-pdf/issues/230

[2020-09-23 10:08] ronaldtse commented on #422
And I found one DAmd:
<img width="539" alt="Screen Shot 2020-09-23 at 6 07 24 PM" src="https://user-images.githubusercontent.com/11865/93998837-b11cdf00-fdc7-11ea-8adb-75c918855f9f.png">
<img width="524" alt="Screen Shot 2020-09-23 at 6 08 00 PM" src="https://user-images.githubusercontent.com/11865/93998858-b843ed00-fdc7-11ea-830d-b8a2ce3545c5.png">
<img width="531" alt="Screen Shot 2020-09-23 at

[2020-09-23 11:20] ronaldtse commented on #422
This is reopened for PDF, ping @Intelligent2013 .

[2020-09-29 03:28] opoudjis commented on #417
But this doesn't just apply to titles: any string in the content can be in any language.

So the filtering of languages happens either in Metanorma or in Relaton. But the filtering needs to be generic: if there are multiple alternatives tagged by language for any string (whether by e.g. <title lang=""> or by the more general <variant lang=""> mechanism), something needs to go through and filter in

[2020-09-29 07:52] ronaldtse commented on #417
I think Relaton should allow:
* `RelatonIso::IsoBibliography.get('ISO 19115', lang: 'fr')`
* `RelatonIso::IsoBibliography.get('ISO 19115', lang: :all).title(lang: 'fr')`
* `RelatonIso::IsoBibliography.get('ISO 19115', lang: 'en').title(lang: 'fr') => FAIL`

[2020-10-01 15:12] opoudjis commented on #417
Metanorma is not going to invoke `lang: :all`, but I am inserting calls to do `.get(lang: [current language])`.

@andrew2net This presumably becomes a separate ticket. Expected behaviour is:

* If a string has language variants, `:lang: X` filters in the variant present, and leaves out all others
  * If none of the language variants matches the requested language, raise an error
* If a string has

[2020-10-01 15:25] opoudjis commented on #417
Ah, I see Andrej has already implemented it; and things are more complicated for ISO, because we actually need the French information for the bilingual titles.

So I'm going to make the default behaviour in standoc be language-specific, but ISO needs to override it with bilingual text, and post-filter what it renders.

[2020-10-01 16:08] opoudjis commented on #417
... But `:lang: "fr"` is not filtering out English content.

Issue seems to be

/Users/nickn/.rvm/gems/ruby-2.6.6/gems/relaton-1.4.1/lib/relaton/db.rb

`bib_entry bib`

called with opts = `{:title=>"<em>Standard</em>", :usrlbl=>"(1)", :lang=>"fr", :ref=>"ISO 123", :all_parts=>true}`

If the bibliographic entry has already been cached, it has been cached with all languages; but the request to load

[2020-10-02 12:39] andrew2net commented on #417
@opoudjis @ronaldtse the functionality `RelatonIso::IsoBibliography.get('ISO 19115', lang: 'fr')` is implemented, but to get link to a `fr` page we need to scrape an `en` page first. I don't see a reason to drop `en` data in case we get `fr`.
In my opinion, we can replace all `Array` collections in the Bibliographic model by a `Collection` class with `lang(lang)` and `lang_{{lang}}` methods implem

[2020-10-03 14:12] Intelligent2013 commented on #422
Fixed.

Example of resulted PDF:
![изображение](https://user-images.githubusercontent.com/5559926/94993666-517abc80-059b-11eb-956c-a95f93b5990e.png)

[2020-10-03 14:12] #422 closed

[2020-10-08 01:36] opoudjis commented on #418
In order to address this issue globally, I am creating a lexicon to be added to the Presentation XML, which PDF generation can draw on—since this is not text that will be supplied from the Presentation XML itself, it will be used to recreate the cover page independently.

[2020-10-08 02:33] ronaldtse commented on #418
Thanks @opoudjis for updating this. https://github.com/metanorma/bipm-si-brochure/pull/23 is also dependent on this issue, for "see" vs "voir", where I believe a template is most suitable:

Just for example:
[code]

[2020-10-08 22:32] ronaldtse commented on #417
@andrew2net agree. Just in case -- do we have functionality that allows us to ask an object whether it contains en or fr or both? e.g. `RelatonIso::IsoBibliography.get('ISO 19115', lang: 'fr').has_lang?('fr')`

[2020-10-09 11:07] andrew2net commented on #417
@ronaldtse the BibliographicItem model has many languages tagged entities. For example, a document could contain abstracts in 2 languages but titles in one only. So we can implement `doc.title.has_lang?('fr')` or `doc.contributor[0].person. fullname. forename.has_lang?('fr')`.
In reality, we don't have documents with all `LocalizedString` elements translated into a second language.

[2020-10-14 10:06] opoudjis commented on #418
This will be addressed by shoving the entire contents of the current YAML internationalisation mapping into `local-bibdata`, under `i18nyaml`. That way, all internationalisation mappings can be looked up.

[2020-10-14 11:45] opoudjis commented on #418
The proposed template is a possible approach, but I'm not adopting it, because it is utterly useless for XSLT. (This whole exercise is to make life easy for Alex D in XSLT; how does Liquid, of all things, do that?!)

[2020-10-14 12:20] opoudjis commented on #418
Translating boilerplate document for ISO

[2020-10-14 12:43] opoudjis opened #428 "Missing translations to French"
Follow-on from https://github.com/metanorma/metanorma-iso/issues/418:

Please use /local_bibdata/i18nyaml/i18n_reference_number for string value for "Reference Number" in ISO cover.

Please use /local_bibdata/i18nyaml/i18n_all_rights_reserved for string value for "All rights reserved" in ISO (back?) cover.

Please use /local_bibdata/i18nyaml/i18n_price_based_on for string value for "Price based on

[2020-10-14 13:03] opoudjis commented on #418
@anermina Have addressed DOC/HTML, #428 is for PDF; request you check both as they become available. Reopen this ticket only if there is a problem in DOC/HTML.

@Intelligent2013, @anermina: this is the French Rice document (no PDF).

[rice-fr.zip](https://github.com/metanorma/metanorma-iso/files/5378313/rice-fr.zip)

[2020-10-14 13:22] opoudjis commented on #418
And for BIPM: "see" is translated into "voir" in /local_bibdata/i18nyaml/ii18n_see

[2020-10-14 13:55] anermina commented on #418
Ok, thanks @opoudjis .

[2020-10-31 13:07] opoudjis commented on #419
@anermina In order to generalise this, I want to stop using `[en]#text#`, which relies on the role attribute of Asciidoctor (which we may want to use for other functions), and instead use the macros `lang:en[text]`, and `lang:en-Latn[text]`.

[2020-10-31 15:05] #419 closed

[2020-11-01 15:11] opoudjis commented on #413
@anermina: I'm sorry it's taken me so long to even glance at this (though it's not my fault I have so much of a backlog.)

Chinese localisation requires currently not just the language, but the script to be set in document attributes: `:script: Hans` as opposed to :script: Hant` for Simplified Chinese. (We never felt comfortable making Simplified Chinese the default.)

With that done, the document

[2020-11-02 20:55] anermina commented on #417
@andrew2net @opoudjis Is it possible to do this for Chinese, as well?

[2020-11-02 21:08] anermina commented on #413
Issues are mostly solved.

1. What I can see is that "All rights reserved" is written in English on odd and in Chinese on even pages. This should be adjusted.

![image](https://user-images.githubusercontent.com/55683568/97916983-14e5e080-1d54-11eb-8560-cc686485ae35.png)
![image](https://user-images.githubusercontent.com/55683568/97916736-b02a8600-1d53-11eb-834c-b64bd0892d28.png)

2.

In case Chine

[2020-11-02 21:11] anermina opened #433 "Word: ISO Rice (Chinese) review"
Word:

1. I'm not sure whether the angle brackets should look like this in Chinese version. Probably usual ones `[ ]` should be used.

![image](https://user-images.githubusercontent.com/55683568/97915032-14981600-1d51-11eb-9718-de2bcb8f5a6e.png)

2. Equations are not centered (but only indented) in PDF and in the original document, unlike in Word (except from the Appendix part in Word, where they

[2020-11-02 21:15] anermina opened #434 "PDF: ISO Rice (Chinese) review"
PDF:

1. Word "Cereals" is in different font.

![image](https://user-images.githubusercontent.com/55683568/97914531-51afd880-1d50-11eb-80da-271d3c9431ad.png)

2. Baseline is not the same for the text in Chinese and the text in English (though we shouldn't have text in English, but word "ISO" should remain).

![image](https://user-images.githubusercontent.com/55683568/97914654-84f26780-1d50-11eb-9a

[2020-11-03 12:30] #402 closed

[2020-11-03 13:12] opoudjis commented on #417
I would be astonished if ISO has translated their references into Chinese; @andrew2net?

[2020-11-03 13:15] opoudjis commented on #413
Fixed

if there is no language match, we should be degrading gracefully. In our benighted age that means, Andrej is returning all languages (English and French), and since I am filtering the title language, the references will show up in English as the default language. Amusingly, in a Chinese document, the bibliographic entry is in English, but the footnote now added to indicate that the document

[2020-11-03 13:19] opoudjis commented on #413
In fact the Chinese for it appears immediately below; deleting the English.

[2020-11-03 13:19] #413 closed

[2020-11-03 13:22] opoudjis commented on #417
And if there is no Chinese, Andrej, please close this ticket: as confirmed in https://github.com/metanorma/metanorma-iso/issues/413, we are recovering properly in a Chinese document by providing the English title.

[2020-11-03 14:59] ronaldtse commented on #417
There's no Chinese for ISO documents, so we have to use English as fallback in that case.

[2020-11-03 15:39] anermina commented on #417
Thanks for clarification, @ronaldtse ! Closing.

[2020-11-03 15:39] #417 closed

[2020-11-04 09:48] ronaldtse commented on #433
Those are the Simplified Chinese square brackets, so they are correct.

Cross references like "附件A" or "表1" should not have any space in between.

[2020-11-04 10:09] opoudjis commented on #433
2. The issue in Word is that the main body formulas are unnumbered, but the formulas only render correctly if a tab appears after them. Inserting dummy tab just for Word.

[2020-11-04 10:19] opoudjis commented on #433
3. Blue is correct for Word: https://github.com/metanorma/metanorma-iso/issues/305

[2020-11-04 10:27] opoudjis commented on #433
4. English rendering correctly in Word.

The gotcha here is the "key" word in the source: this is currently actually expected to be in English, as it detected during parsing. This behaviour will be eliminated in https://github.com/metanorma/metanorma-standoc/issues/202, if Ronald ever lets me get to it.

[2020-11-04 10:35] opoudjis commented on #433
Space in cross-references: have not been applying (spacing) localisation to the generation of cross-reference labels. Fixing; this is a Presentation XML-level fix, so it will be inherited by PDF.

[2020-11-04 10:50] opoudjis commented on #434
@Intelligent2013 note that I have made edits to doc in related ticket #433;

* Word or/and PDF issues: Blue is ok, and the figure rendering should be fixed in markup.

Use this PresentationXML:

[rice-zh.zip](https://github.com/metanorma/metanorma-iso/files/5487291/rice-zh.zip)

[2020-11-04 10:56] #433 closed

[2020-11-04 11:32] Intelligent2013 commented on #428
Done. PDF example for rice-fr.presentation.xml from #418 (with manually moved `i18nyaml` tags to `localized-strings` structure):
[rice-fr.presentation.pdf](https://github.com/metanorma/metanorma-iso/files/5487481/rice-fr.presentation.pdf)

[2020-11-04 11:32] #428 closed

[2020-11-04 12:19] #403 closed

[2020-11-04 23:13] opoudjis commented on #294
@ronaldtse Short of indenting all paragraphs after first in the note, I don't see what we should be doing. Putting the note in a box is clearly unacceptable.

[2020-11-04 23:17] opoudjis commented on #318
Document-specific practices in large-scale formatting, such as boxing examples, are more than we can or should be doing. In HTML, it's simply a matter of dropping in CSS; in DOC, it's novel code. If people want ad hoc formatting, they should be using Word.

... Maybe. I'd prefer bold though; italics is used in normal text for emphasis, and is admittedly used in that function in Terms & Definitions

[2020-11-04 23:22] ronaldtse commented on #294
Let's put this on hold for now.

[2020-11-04 23:37] opoudjis commented on #318
Italics.

[2020-11-05 00:32] ronaldtse commented on #318
Yeah let's do Italics so it's consistent with the reference style in Clause 3.

[2020-11-05 00:38] ronaldtse commented on #294
Pending update on TC 211 discussions.

[2020-11-05 17:01] Intelligent2013 commented on #434
Fixed:
![изображение](https://user-images.githubusercontent.com/5559926/98266130-fcb3d280-1f9a-11eb-845d-405b45b3ac6e.png)

Fixed:
![изображение](https://user-images.githubusercontent.com/5559926/98266272-279e2680-1f9b-11eb-8fc6-9df8308b8170.png)
![изображение](https://user-images.githubusercontent.com/5559926/98266301-2e2c9e00-1f9b-11eb-8aa8-bc335477c13b.png)

Fixed:
![изображение](https://user-i

[2020-11-06 10:44] opoudjis commented on #318
Internationalising rendering of concept, dealing with it in Presentation XML.

[2020-11-06 11:12] #318 closed

[2020-11-08 21:22] anermina commented on #418
PDF:

[2020-11-08 21:29] anermina commented on #418
Sorry for the delay with re-checking this document.

I'm reopening this issue due to the following notes:

1. Title is generated in English in DOC, while in French in PDF.

DOC:
![image](https://user-images.githubusercontent.com/55683568/98484553-a354d900-2210-11eb-870e-c75edbe28cd1.png)

PDF:
![image](https://user-images.githubusercontent.com/55683568/98484563-c4b5c500-2210-11eb-8d21-c9480013d6d1

[2020-11-23 11:03] opoudjis commented on #418
I cannot reproduce this: can you try again? I'm getting the attached, compiling mn-samples-iso/sources/international-standard/rice-fr.adoc .

[Αρχειοθήκη.zip](https://github.com/metanorma/metanorma-iso/files/5582421/default.zip)

[2020-11-25 16:13] manuel489 opened #444 "Issue with Appendices inside of Annex"
Something goes wrong with section numbering in appendices inside annexes. The section numbering takes the value of the cross-reference anchor of the section if provided, if not, it takes the title of the section in the form: `[_{section-title}]`.

Example taken from https://github.com/metanorma/mn-samples-iso/pull/66:

[code]

Renders:

![Capture](https://user-images.githubusercontent.com/33627611

[2020-11-26 01:49] opoudjis commented on #444
Looks like I'd forgotten to recurse inside appendices and assign anchors to subclauses.

[2020-11-26 13:15] #444 closed

[2020-11-26 13:17] opoudjis opened #446 "redundant GHA workflows"
There are both the new rake workflows and the old macos, ubuntu, windows workflows in GitHub Actions in this gem. The latter need to be removed.

[2020-11-26 13:57] CAMOBAP commented on #446
Done

[2020-11-26 13:57] #446 closed

[2020-12-04 06:13] ronaldtse opened #450 "Investigate necessary changes from ISO/IEC DRG Directives"
From Andrew Dryden, ISO/CS TPM:

[2020-12-04 06:24] ronaldtse commented on #450
This is relevant to "Figures" used in ISO deliverables.

[2020-12-07 11:39] opoudjis commented on #418
Confirmed it's working on https://github.com/metanorma/mn-samples-iso/blob/gh-pages/documents/international-standard/rice-fr.doc

[rice-fr.doc.zip](https://github.com/metanorma/metanorma-iso/files/5652377/rice-fr.doc.zip)

[2020-12-07 11:39] #418 closed

[2020-12-17 10:58] ronaldtse opened #452 "Spurious syntax validation output for ISO Amendment"
This is from ISO 8601-1/Amd 1 (https://github.com/CalConnect/iso-8601-1-amd1/pull/3):

The document is syntactically correct but gives the following validation error messages:

[code]

[2020-12-17 17:44] ronaldtse opened #453 "Smart single quotes sometimes not working?"
This is from ISO 8601-1/Amd 1 (https://github.com/CalConnect/iso-8601-1-amd1/pull/3):

[code]

Gives out the opening single quote in the wrong direction. This seems to only happen when the first character is a number (e.g. ``'`24:00:00`'``), not with alphabets (e.g. ``'`abc`'``).

DOC:
<img width="650" alt="Screen Shot 2020-12-18 at 1 28 54 AM" src="https://user-images.githubusercontent.com/11865/

[2020-12-17 17:48] ronaldtse opened #454 "Document elements inside quotations not showing properly in PDF output"
This is from ISO 8601-1/Amd 1 (https://github.com/CalConnect/iso-8601-1-amd1/pull/3):

[code]

This works in Word:

<img width="541" alt="Screen Shot 2020-12-18 at 1 46 14 AM" src="https://user-images.githubusercontent.com/11865/102523653-d1142400-40d2-11eb-94ce-6d32460becbc.png">

Also in HTML:
<img width="674" alt="Screen Shot 2020-12-18 at 1 46 30 AM" src="https://user-images.githubusercontent.

[2020-12-17 19:13] Intelligent2013 commented on #454
After fixing issue https://github.com/metanorma/mn-native-pdf/issues/295 it displays as:

![изображение](https://user-images.githubusercontent.com/5559926/102532175-a024f680-40b4-11eb-8940-6cbbef491165.png)

Resulted PDF: [iso-8601-1-amd.presentation.pdf](https://github.com/metanorma/metanorma-iso/files/5711628/iso-8601-1-amd.presentation.pdf)

But there is a difference between list item numbering

[2020-12-17 19:36] Intelligent2013 commented on #454
And I don't like a right indent in definition list. Will fix it.

[2020-12-17 20:56] Intelligent2013 commented on #454
Issue with right indent fixed:
![изображение](https://user-images.githubusercontent.com/5559926/102542767-54c61480-40c3-11eb-809f-47cf249a433f.png)

Resulted PDF:
[iso-8601-1-amd.presentation.pdf](https://github.com/metanorma/metanorma-iso/files/5712084/iso-8601-1-amd.presentation.pdf)

[2020-12-18 02:38] ronaldtse commented on #454
Thanks for the fixes!

Yes please! This is important indeed.

[2020-12-18 07:13] Intelligent2013 commented on #454
Done.
Resulted PDF: [iso-8601-1-amd.presentation.pdf](https://github.com/metanorma/metanorma-iso/files/5714187/iso-8601-1-amd.presentation.pdf)

[2020-12-18 07:41] ronaldtse commented on #454
@opoudjis could you help incorporate the latest PDF styling? Thanks!

[2020-12-18 14:22] #454 closed

[2020-12-19 00:17] opoudjis commented on #453
The smart quotes processor from sterile is clearly not smart enough. We had raised a bug about ’99’ in https://github.com/pbhogan/sterile/pull/1, but the pattern needs to be more restrictive still. Will do another PR, hopefully gem is still being maintained.

[2020-12-19 11:41] ronaldtse opened #455 "DAmd cover warning showing up as "D stage""
<img width="588" alt="Screen Shot 2020-12-19 at 7 40 44 PM" src="https://user-images.githubusercontent.com/11865/102688521-27e43f80-4232-11eb-99bb-7e621fcac255.png">

Document: https://github.com/CalConnect/iso-8601-1-amd1

[2020-12-19 11:43] ronaldtse commented on #453
* ``"`24`"`` works
<img width="47" alt="Screen Shot 2020-12-19 at 7 43 14 PM" src="https://user-images.githubusercontent.com/11865/102688561-71cd2580-4232-11eb-8803-43608e2ae905.png">

* ``"24:00:00`"`` gives the wrong first single quote

<img width="117" alt="Screen Shot 2020-12-19 at 7 43 36 PM" src="https://user-images.githubusercontent.com/11865/102688569-7e517e00-4232-11eb-8928-ca31b76ed9a6.p

[2020-12-19 11:46] ronaldtse commented on #455
Manually fixing this right now.

[2020-12-22 10:50] opoudjis commented on #452
Your claim of syntactic correctness is very likely in error. The style warnings are certainly excuse, and ISO's incapability of observing its own obligation language rules in its boilerplate is their failing.

Some of these I will resolve; can't undertake to resolve all of them.

[2020-12-22 10:58] opoudjis commented on #453
Yes, I know that's the behaviour, and it didn't do `'24'` correctly either until I PR'd it.

[2020-12-27 01:01] opoudjis commented on #453
Also duplicating that functionality locally, in case sterile no longer maintained.

[2020-12-27 01:04] #453 closed

[2020-12-27 02:34] ronaldtse commented on #453
Thanks @opoudjis!

[2020-12-27 13:10] opoudjis commented on #455
Yet again, absolute failure to provide me with proper specs. https://github.com/metanorma/metanorma-iso/issues/383 provided only doc identifiers, it gave no information about status.

[2020-12-27 13:28] ronaldtse commented on #455
Part of the implementation process includes discovering gaps. Nothing can be done perfectly in the first go. No point in bickering.

[2020-12-27 13:28] opoudjis commented on #455
So, I need a real and explicit spec, PREFERABLY FROM ISO and not reconstructed via Wikipedia, of what the stage names and id names are. In particular, I have assumed that the ID names are stage + doctype, e.g. D + Amd. Is it always the case that the thing after the slash is the full stage name, and e.g. there is no separate D stage?

[2020-12-27 13:59] ronaldtse commented on #455
No. There are defined stage names that have nothing to do with doc type. Only some stages have special stage names. I will provide a list, which I’m sure has been provided before.

[2020-12-27 15:00] opoudjis commented on #455
The stage name "DAmd" is related to doc type, even if DIS is putatively not, and we no longer are certain whether the stage banner for DIS Cor should be DIS or DIS Cor. Issue on hold pending formal advice.

[2020-12-28 05:06] ronaldtse opened #456 "Clarification of ISO document identifier stage code and draft stage codes"
Sought clarification from ISO regarding the said title. The following information will be clarified.

ISO document identifiers per stage:

Stage code | IS | TR | TS | Amd | Cor
-- | -- | -- | -- | -- | --
00.00-00.99 | PWI | PWI TR | PWI TS | {base}/PWI Amd | {base}/PWI Cor
10.00-10.98 | NP | NP TR | NP TS | {base}/NP Amd | {base}/NP Cor
10.99-10.98 | AWI | AWI TR | AWI TS | {base}/AWI Amd | {base

[2020-12-28 07:37] ronaldtse commented on #455
This is being clarified at #456

[2020-12-28 09:13] opoudjis commented on #452
Skip section ordering testing if amendment or technical corrigendum.

[2020-12-28 11:20] #452 closed

[2021-01-08 07:40] opoudjis commented on #450
The only bits of https://isotc.iso.org/livelink/livelink/fetch/2000/2122/4230450/DRG_working_instructions_and_directives_%2D_Aug_2020.pdf?nodeid=21480807&vernum=-2 relevant to Metanorma are the following:

* 3.2. Policing naming conventions on file names:
  * {{ docnumber }}-{{partnumber}}_ed{{edition}}{{ "fig" }}{{ "Tab" }}?{{ annexletter }}?{{ number }}{{ subfigure letter}}?{{_key number}}?{{ "_

[2021-01-08 08:13] opoudjis commented on #450
Actually, standoc already anticipates 3.7: if the example block contains blocks other than figures, it is not considered to be a figure with subfigures to begin with.

[2021-01-08 08:35] ronaldtse commented on #450
Yes.

Yes please.

Thanks!

[2021-01-12 01:33] opoudjis commented on #300
Only things remaining in PDF: "Contents" and "Page".

Have fixed "Contents" in HTML/DOC. @Intelligent2013, please use //localized-strings to look up:

`<localized-string key="table_of_contents" language="fr">SOMMAIRE</localized-string>`
`<localized-string key="locality.page" language="fr">Page</localized-string>`

[2021-01-12 01:35] opoudjis opened #462 "Table of Contents i18n"
Follow-on to https://github.com/metanorma/metanorma-iso/issues/300:

For the heading of tables of contents:

@Intelligent2013, please use //localized-strings to look up the localised versions of "CONTENTS" and "Page":

`<localized-string key="table_of_contents" language="fr">SOMMAIRE</localized-string>`
`<localized-string key="locality.page" language="fr">Page</localized-string>`

[2021-01-12 01:39] #300 closed

[2021-01-12 02:24] opoudjis commented on #387
Unassigning myself. Because this is a rendering issue, and because a real title inside quotes would break Asciidoc, this is not currently tractable.

[2021-01-12 03:52] ronaldtse commented on #387
This is an issue with patches/amends in general.

In the [add] operation, the author expects to provide additional document elements to be "inserted" at a certain context. This means the <amend> can contain any document elements.

One way to do it is to scope the <amend> (e.g. with an XML namespace) so that the document elements defined inside the <amend> have no side effect outside of <amend>. In

[2021-01-12 09:09] Intelligent2013 commented on #462
Done.
@opoudjis  original ISO PDFs contain 'Contents', 'Sommaire', but not 'CONTENTS' 'SOMMAIRE'.

[2021-01-12 09:09] #462 closed

[2021-01-12 09:31] opoudjis commented on #462
The Word template also has lowercase. Not sure what happened, but fixing.

[2021-01-27 02:35] ronaldtse opened #467 "URGENT: Generated Word document showing error, missing footer in document"
<img width="540" alt="Screen Shot 2021-01-27 at 10 34 18 AM" src="https://user-images.githubusercontent.com/11865/105934504-4b997180-608b-11eb-9934-f69fa513472e.png">

Document: https://github.com/CalConnect/iso-34000/

[2021-02-01 11:53] opoudjis commented on #467
Cannot see, please provide file.

[2021-02-01 12:07] ronaldtse commented on #467
@opoudjis you have access now

[2021-02-02 01:03] ronaldtse opened #468 "Force-wrap source code"
Source code today can be scrolled out of bounds. This presents readability issues with introducing horizontal scrolling. We should force-wrap the source code.

On first load:
<img width="907" alt="Screen Shot 2021-02-02 at 9 01 38 AM" src="https://user-images.githubusercontent.com/11865/106537507-6d846f80-6535-11eb-9963-345523d3cb10.png">

During horizontal scrolling:
<img width="894" alt="Screen

[2021-02-02 01:06] ronaldtse commented on #468
On second thought it needs a smarter treatment to not break code like this:

<img width="857" alt="Screen Shot 2021-02-02 at 9 05 43 AM" src="https://user-images.githubusercontent.com/11865/106537711-db309b80-6535-11eb-94fb-7146b7f27dba.png">

Closing for now.

[2021-02-02 01:06] #468 closed

[2021-02-07 13:52] manuel489 opened #469 "Some bibliography cross-references don't render in number format"
*Found while working in https://github.com/metanorma/iso-690/issues/12*

In [iso-690](https://github.com/metanorma/iso-690) document, all bibliography cross-references are expected to render in number format.
However, the auto-fetched ones are rendering different:

DOC output:
![issue4-doc](https://user-images.githubusercontent.com/33627611/107148500-cf741900-6929-11eb-8b83-bbceee43c636.PNG)

Orig

[2021-02-07 14:17] manuel489 opened #470 "Numbering jump in Bibliography section"
*Found while working in https://github.com/metanorma/iso-690/issues/12*

When working in [iso-690](https://github.com/metanorma/iso-690/tree/update-to-fdis) document, I've noticed that there is a numbering jump in the bibliography reference list.

*DOC output:*
![issue6-doc](https://user-images.githubusercontent.com/33627611/107148734-39d98900-692b-11eb-8ba2-31898fa1022d.PNG)

Additionally, the re

[2021-02-08 18:15] manuel489 opened #471 "When a term SOURCE refers to an ISO/IEC document “clause”, it is not actually a clause and should not have the “Clause” prefix"
*Found while working in https://github.com/metanorma/iso-690/issues/12*

Currently, if a source reference points to a certain clause, the word "Clause" is omitted
and only the clause number is shown.
However, it seems like if the specified clause doesn't contain any dots, the word "Clause" is added.

*Example:*
[code]

Renders:
![issue1-doc](https://user-images.githubusercontent.com/33627611/10726

[2021-02-09 10:15] opoudjis commented on #471
Right, it is inferring that this is a top level clause, and it is applying the syntax correctly; the citation itself is sadly malformed.

And yes: `<<xref,droploc%>>` will give just the number of the locality, without the prefix "Clause": https://www.metanorma.com/author/topics/document-format/text/#general-5

[2021-02-09 10:27] opoudjis commented on #469
The behaviour you are encountering is what the Rice model document does (https://www.iso.org/files/live/sites/isoorg/files/developing_standards/docs/en/model_document-rice_model.pdf: e..g not `[1]`, but `ISO 3696`); that's why we've implemented it like that. There is no explicit discussion of citations in ISO/IEC DIR 2, but there is a general statement that standards must be referenced by standard

[2021-02-09 10:57] opoudjis commented on #470
Ouch. Numbering has been consecutive for normative references and bibliographies in standoc, but includes only the bibliography in isodoc. The numbering is starting three behind in standoc, because the three normative references are being included.

This was an attempt to deal with the edge case of non-standards in normative references, which would also get numeric references. But that needs to be

[2021-02-09 11:35] opoudjis commented on #470
Fixed. `[NOTE-TVWeb-URI-Requirements-19991021]` is in fact the citation for `[31]`, because it is a W3C document, and that ID is considered the W3C standard reference.

[2021-02-09 11:36] #470 closed

[2021-02-10 04:49] ronaldtse commented on #456
Response from ISO/CS:

From ISO EPM:

i.e. Both stage names should be identical.

From ISO TPM:

So we should standardize on using the PDF stage names for Word + PDF.

Specifically:

Stage code | IS | TR | TS | Amd | Cor
-- | -- | -- | -- | -- | --
00.00-00.99 | PWI | PWI TR | PWI TS | {base}/PWI Amd | {base}/PWI Cor
10.00-10.98 | NP | NP TR | NP TS | {base}/NP Amd | {base}/NP Cor
10.99-10.98 | AW

[2021-02-10 04:50] ronaldtse commented on #456
We need to update the internal map and also metanorma.com documentation.

[2021-02-11 05:45] ronaldtse commented on #471
What does this mean?

I wonder if the correct behavior is to have it with “Clause”...

[2021-02-11 05:55] ronaldtse commented on #471
I have sought clarification from ISO. Will update.

[2021-02-12 13:20] opoudjis commented on #467
I cannot replicate the issue.

Ronald is not only getting the message, which is an occasional nuisance my side, but his Word is failing to find the content of the header file, so header information is not rendering for him. This has been the case for Ronald since at least September.

Ronald has one version of Word higher than I do (16.46 vs 16.45),  but I cannot force an update locally, my machine

[2021-02-12 13:45] manuel489 commented on #470
Thank you @opoudjis !

[2021-02-13 04:47] ronaldtse opened #472 "Investigate compliance with "ISO house style""
As title.

https://www.iso.org/ISO-house-style.html

Perhaps we need some pointers from Metanorma documentation to the "ISO house style"

cc: @metanorma/editors for thoughts too.

[2021-02-13 04:56] ronaldtse opened #473 "Support "vocabulary documents" as per ISO house style"
From https://www.iso.org/ISO-house-style.html:

<img width="672" alt="Screenshot 2021-02-13 at 12 47 51 PM" src="https://user-images.githubusercontent.com/11865/107841849-b40d8000-6df9-11eb-8da9-91fcbc8b0869.png">

For example, ISO 34000 (https://github.com/calconnect/iso-34000) is a vocabulary document.

There are the following specific rules for a "vocabulary":

* It can have terminological entr

[2021-02-13 05:01] ronaldtse commented on #469
ISO 690 was originally encoded in Metanorma... but updated in Word.

The issue is about reference style -- in ISO we should just follow the new [ISO house style](https://www.iso.org/ISO-house-style.html) which states the following.

--------

### CROSS-REFERENCES TO A NUMBERED DOCUMENT

Always use the standard identifier (document number and type) rather than the title when referring to an ISO or

[2021-02-15 10:33] ronaldtse opened #474 ""ISO Directives Part 1" reference showing as "ISO 1""
[code]

This is rendering as:
<img width="569" alt="Screenshot 2021-02-15 at 6 33 01 PM" src="https://user-images.githubusercontent.com/11865/107935356-4198cd80-6fbc-11eb-8d80-c63386898c5b.png">

[2021-02-15 11:57] andrew2net commented on #474
@ronaldtse I think the reference should be `ISO/IEC DIR 1`

[2021-02-15 12:20] opoudjis commented on #469
@ronaldtse, the house style is confirming the approach I have taken: standards  are *always* referred to by document identifier, whether in bibliography or normative references, and numbers are only used as citations for "unnumbered' documents (by which they mean documents without a document identifier), "e.g. a journal or literature reference".

It does now explicitly confirm that "unnumbered" no

[2021-02-15 12:32] ronaldtse commented on #474
Thanks @andrew2net . Where can I find that documented?

Also, how do I cite the ISO Consolidated Supplement and the IEC Supplement? Thanks.

[2021-02-15 13:09] ronaldtse opened #475 "When English and French main title provided but not the other portions, French validation fails"
In a document with only the main title in English and French, these messages appears:

[code]

French validation fails here with these two errors:
[code]

But this should not be raised because it's okay to not have those parts, since it's okay for the English too.

[2021-02-15 14:13] ronaldtse commented on #471
Clarification from ISO/CS:

i.e. the reference in a SOURCE is a reference to a terminology identifier, not to a clause.

[2021-02-15 14:22] ronaldtse commented on #469
In any case, here "FIPS 202" should be "NIST FIPS 202", "RFC 3986" should be "IETF RFC 3986"?

[2021-02-15 18:24] andrew2net commented on #474
@ronaldtse
These documents are in the `relaton`'s static cache. Possible references:
`ISO/IEC DIR 1 IEC SUP`, `ISO/IEC DIR 1 ISO SUP`, `ISO/IEC DIR 1`, `ISO/IEC DIR 2 IEC`, `ISO/IEC DIR 2 ISO`, `ISO/IEC DIR IEC SUP`, `ISO/IEC DIR JTC 1 SUP`
It isn't documented yet. It seems a good place to document is in the relaton-iso but this gem doesn't support these references. Maybe we can put the documentat

[2021-02-16 08:28] opoudjis commented on #467
The issue seems to be peculiar to Ronald's instance of Word: upgrading to the same version as his still opens documents without incident, and Ronald's instance gives the same error on opening normal MHT files.

[2021-02-16 08:28] #467 closed

[2021-02-16 12:00] opoudjis opened #476 "Random fontist crashes"
https://github.com/metanorma/metanorma-iso/runs/1909980091?check_suite_focus=true
https://github.com/metanorma/metanorma-bipm/runs/1909983312?check_suite_focus=true
https://github.com/metanorma/metanorma-itu/runs/1851462605?check_suite_focus=true

[2021-02-17 10:11] opoudjis commented on #469
The docidentifiers for NIST retrieved from relaton are inconsistent: NIST FIPS 81 has the docidentifier `<docidentifier type="NIST">NIST FIPS 81</docidentifier>`, while NIST FIPS 186 has the docidentifier `<docidentifier type="NIST">FIPS 86</docidentifier>`. But the identifier given in the references is correct (I insert the prefix if not already present), and that given to the eref should match t

[2021-02-17 10:22] opoudjis commented on #469
Prefixes were only being added to ISO/IEC document identifiers; that's a bug. Removing that constraint. Will prevent prefixes being added if they are already present in the docidentifier.

[2021-02-17 10:38] #469 closed

[2021-02-19 08:56] CAMOBAP commented on #476
Fixed

[2021-02-19 08:56] #476 closed

[2021-03-04 10:33] opoudjis opened #479 "libmspack failing to install for Ubuntu"
https://github.com/metanorma/metanorma-iso/runs/2029997862?check_suite_focus=true

[2021-03-04 12:20] opoudjis commented on #473
Doc subtype seems reasonable to me

[2021-03-05 12:05] opoudjis opened #480 "Index support needed for ISO"
Results from https://github.com/metanorma/annotated-express/issues/24 . No subsections for initial letters, unlike BIPM.

[2021-03-05 12:06] opoudjis opened #481 "Index support needed for ISO, PDF"
Follow-on from https://github.com/metanorma/metanorma-iso/issues/480

Index support needs to be added to ISO. Same arrangement as for BIPM.

[2021-03-05 13:27] opoudjis opened #483 "expressir causing GitHub Actions problems for metanorma-iso"
https://github.com/metanorma/metanorma-iso/pull/482/checks?check_run_id=2039811738

[code]

[2021-03-05 14:06] CAMOBAP commented on #483
- https://github.com/lutaml/expressir/issues/63 - root issue

[2021-03-05 19:15] Intelligent2013 commented on #481
Done.
![изображение](https://user-images.githubusercontent.com/5559926/110162775-3c32e400-7e00-11eb-9596-c7c2d01d44f5.png)

[2021-03-06 09:46] Intelligent2013 commented on #481
To do: fix issue - instead of section's numbers should be displayed page numbers.

[2021-03-06 10:04] #481 closed

[2021-03-08 00:55] #480 closed

[2021-03-08 07:00] opoudjis commented on #471
I mean, I get it, but there is no way in principle for Metanorma to know that this is not a clause, unless we introduce the (rather artificial) `<<ISO2382,location:term 2121372>>`, and tell metanorma-iso not to render "term" in term references. I can do that, but I don't see why I can't just use `<< ISO2382,droploc%clause 2121372>>`.

[2021-03-08 09:44] ronaldtse commented on #471
Let's just use `<<ISO2382,droploc%clause 2121372>>` for now, but @manuel489 can you also add this to metanorma.com? Thanks.

[2021-03-09 01:21] ronaldtse opened #484 "Metanorma XML ISO DRG requirements validation killing outputs on data:image"
In annotated-express we're seeing the logs filled with these messages due to the existence of "data:image/svg+xml" images:

[code]

And this is killing the log file, log storage and also generation time.

We need to ensure validation does not affect actual compilation.

[2021-03-09 02:04] ronaldtse opened #485 "GHA processing of annotated-express document takes excessively long due to XML DRG validation"
Originally from https://github.com/metanorma/annotated-express/issues/43

GHA processing of Part 41 takes 3 hours.

On my computer, it takes 15 minutes:
[code]

I have done some preliminary investigation on this job on macOS:
https://github.com/metanorma/annotated-express/runs/2055518291?check_suite_focus=true

The bulk of the time spent is here:
[code]

Notice that on each "does not match DRG req

[2021-03-09 02:06] ronaldtse commented on #485
This code contains the culprit:

https://github.com/metanorma/metanorma-iso/blob/3364459e35ba7563273f87e7af3380acfcc34903/lib/asciidoctor/iso/validate.rb#L149-L158

[2021-03-10 22:20] CAMOBAP commented on #479
Highly likely it's related to environmental misconfiguration https://stackoverflow.com/questions/65000467/libffi-so-6-cannot-open-shared-object-file-in-rails

Looks like we should not fix it

[2021-03-10 22:20] #479 closed

[2021-03-11 05:07] opoudjis opened #487 "Sorting of symbols & abbreviations in ISO should be case-insensitive"
Raised from https://github.com/metanorma/annotated-express/issues/50

[2021-03-11 06:09] ronaldtse commented on #484
This is also killing my console...

[2021-03-13 05:59] #485 closed

[2021-03-14 00:20] ronaldtse commented on #309
Seems that this is done, thanks!

[2021-03-14 00:20] #309 closed

[2021-03-14 14:21] #487 closed

[2021-03-14 14:22] opoudjis commented on #484
Validation of data uri is being bypassed as of #485.

[2021-03-14 14:22] #484 closed

[2021-03-17 13:48] opoudjis commented on #456
Nothing in the foregoing indicates that PRF is not to be used in International Standards.

[2021-03-17 14:23] #456 closed

[2021-03-17 15:15] #455 closed

[2021-03-22 23:46] opoudjis commented on #475
Specified that the title being checked for existence is the title of bibdata, not of a random reference.

[2021-03-22 23:53] #475 closed

[2021-03-23 23:11] manuel489 commented on #471
Seems like there is an issue with Nick's solution:

This:
[code]

renders

![capture1](https://user-images.githubusercontent.com/33627611/112230560-67dd0900-8c0b-11eb-889f-35c36a186e20.PNG)

[2021-04-02 14:01] opoudjis commented on #471
To my embarrassment, the droploc% flags and other flags on xrefs are not being parsed as prefixes on localities. Fixing.

[2021-04-02 15:06] opoudjis commented on #471
And need to extent the attributes of `xref` (including droploc) to `origin`. Also need to process those attributes in `origin` and `eref` in isodoc.

[2021-04-02 16:34] opoudjis commented on #471
It is working now, but it has required updates in all of metanorma-standoc, isodoc, and metanorma-iso. I'd wait until next release (in a week) before using it.

[2021-04-02 16:35] #471 closed

[2021-04-13 16:53] manuel489 commented on #471
I have confirmed that is working. So I'll procede to add it to metanorma.com.

[2021-04-13 17:45] ronaldtse commented on #471
Thanks @manuel489 !

[2021-04-19 07:29] ronaldtse opened #495 "Support Annexes beyond "Z", and support ISO DIR Annex numbering"
In the ISO DIR Part 1 Annexes extend beyond "Z".
<img width="955" alt="Screenshot 2021-04-19 at 3 28 26 PM" src="https://user-images.githubusercontent.com/11865/115197716-e2724900-a123-11eb-9665-5a343e6ab3ef.png">

"Tables and annexes beginning with “S” in this Consolidated ISO Supplement are all unique to ISO and do not follow the order in the ISO/IEC Directives. Where a reference in an ISO annex

[2021-04-19 07:29] ronaldtse commented on #495
From https://github.com/metanorma/mn-samples-iso/pull/70

[2021-04-19 07:32] ronaldtse commented on #495
I suppose after "Z" we have "AA" to "ZZ", etc.

[2021-04-19 07:39] ronaldtse commented on #495
As suggested by @opoudjis this syntax works:

[code]

All subsequent annexes are followed by "SB", "SC", etc.

[2021-04-19 07:52] ronaldtse commented on #483
lutaml/expressir#63 is fixed and this repo looks like it's running fine now. Closing.

<img width="1214" alt="Screenshot 2021-04-19 at 3 52 35 PM" src="https://user-images.githubusercontent.com/11865/115200862-421e2380-a127-11eb-9095-c74531ef0981.png">

[2021-04-19 07:52] #483 closed

[2021-04-20 02:40] ronaldtse opened #496 "Support ISO Directives identifiers"
In https://github.com/metanorma/mn-samples-iso/issues/73 the identifier is showing as "ISO -2".

relaton-iso supports the "ISO/IEC DIR X" identifiers:
https://github.com/relaton/relaton-iso#search-for-isoiec-directives

[2021-04-25 17:07] opoudjis commented on #495
So this issue is only about incrementing Z to AA, not about the specific issue of SA.

[2021-04-26 02:28] #495 closed

[2021-04-27 15:06] ronaldtse opened #497 "(URGENT) Duplicated "Terms and definitions" boilerplate"
Source: (https://github.com/metanorma/iso-10303-2)

[code]

<img width="683" alt="Screenshot 2021-04-27 at 11 05 14 PM" src="https://user-images.githubusercontent.com/11865/116264635-08938b00-a7ad-11eb-80b2-88fed3842363.png">

<img width="676" alt="Screenshot 2021-04-27 at 11 05 27 PM" src="https://user-images.githubusercontent.com/11865/116264667-10ebc600-a7ad-11eb-9547-adc9f41f3605.png">

[2021-04-27 15:07] ronaldtse commented on #497
The proper boilerplate in this case should apply to 3.1, not 3.1.1.

[2021-04-28 15:09] opoudjis commented on #497
Standoc puts the boilerplate after each clause identified with `//sections/terms | //sections/clause[descendant::terms]`, which would put it in each of 3.1, 3.1.1, 3.1.2.

Iso overrides this with `//sections/terms`, putting it in 3.1.1, 3.1.2

The premise that the boilerplate should be repeated for each instance of a terms collection might be defensible in principle, but it clearly should not appl

[2021-04-28 15:16] opoudjis commented on #497
No. You have explicitly asked for the opposite in https://github.com/metanorma/metanorma-iso/issues/325, and that's why that is implemented.

ISO has made a decision on where the boilerplate should go, and it was actioned. If you want different behaviour, you need to tell me what the revised rule is. I will not implement this without explicit guidance from ISO.

[2021-04-29 03:33] ronaldtse commented on #473
Agree, we should implement the "vocabulary" and "test" types as ISO "doc-subtypes", which are types defined separately from the ISO deliverables (IS, TS, TR etc).

[2021-04-29 03:52] ronaldtse commented on #473
This functionality has been also requested by David Leal, convenor of the ISO/TC 184/SC 4's Ad Hoc Group on Ontology.

[2021-04-29 04:08] ronaldtse commented on #497
Not true, https://github.com/metanorma/metanorma-iso/issues/325#issuecomment-590272264 was never asked for.

The correct behavior here for ISO typical deliverables is that the boilerplate only occurs once in Clause 3, at the highest level where "Terms and definitions" are present.

## Scenario 1

Clause 3 is "Terms and definitions", 3.X are terms.

=> Boilerplate exists in Clause 3 prior to 3.1.

[2021-04-30 12:35] opoudjis commented on #497
Introducing here the docsubtype `vocabulary`.

[2021-04-30 14:32] opoudjis commented on #496
The solution is clearly to make this a separate document type, because after all... it is.

[2021-04-30 15:12] #496 closed

[2021-05-04 15:47] ronaldtse commented on #497
Reopening. Not fixed at git master of metanorma-iso/isodoc.

[2021-05-04 15:49] #497 closed

[2021-05-04 15:53] ronaldtse commented on #497
@opoudjis says this is fixed in #498, but I cannot verify due to an error.

[2021-05-04 16:02] ronaldtse commented on #497
Verified fixed.

[2021-05-04 16:08] ronaldtse commented on #473
Done, closing.

[2021-05-04 16:08] #473 closed

[2021-05-08 12:04] anermina opened #500 "Wrong auto-numbering in amendments"
_First reported in https://github.com/metanorma/iso-19135/issues/9_

When using `autonumber` in form letter.number, it produces duplicated letter when numbering the first figure/table.

Example:

Source .adoc:
[code]

Output:
![image](https://user-images.githubusercontent.com/55683568/117538240-8b1a1700-b005-11eb-8f75-4137e3b78403.png)

[2021-05-15 01:44] ronaldtse opened #503 "ISO Vocabulary document error: Clause 3 and 4 have locations swapped"
From: https://github.com/metanorma/iso-10303-2/issues/37

This is an ISO Vocabulary document so it allows terms in multiple first level clauses. However the clauses 3 and 4 are swapped.

Clause 3:
[code]

Clause 4:
[code]

Clause 5:
[code]

Main doc:
[code]

Result:
<img width="316" alt="image" src="https://user-images.githubusercontent.com/11865/118344570-6a9c1080-b561-11eb-8e8b-c157906e7d45.png"

[2021-05-15 06:39] ronaldtse opened #504 "ISO Vocabulary document: Clause 3 missing 3.1 in TOC"
<img width="1026" alt="Screenshot 2021-05-15 at 2 39 05 PM" src="https://user-images.githubusercontent.com/11865/118350820-4ead6480-b58b-11eb-87c8-5dc8c7dded6e.png">

[2021-05-15 06:56] ronaldtse opened #505 "ISO Vocabulary document: Bibliographic entries not rendered"
<img width="938" alt="Screenshot 2021-05-15 at 2 51 11 PM" src="https://user-images.githubusercontent.com/11865/118351181-fecf9d00-b58c-11eb-88eb-d3213ea8cd12.png">

Source:

[code]

Bibliography:

[code]

[2021-05-17 05:44] ronaldtse commented on #505
This has been fixed, not a problem with metanorma-iso.

[2021-05-17 05:44] #505 closed

[2021-05-18 12:06] opoudjis commented on #504
Section 3 was being named as "Terms, definitions, abbreviated terms and symbols" instead of the correct "Terms, definitions, symbols and abbreviated terms": it was not being recognised as a terms section, and that has had a flow-on effect in the tagging of child headings. Fixing that fixes this.

[2021-05-18 12:07] #504 closed

[2021-05-18 12:10] opoudjis commented on #503
Suspect this is a consequence of https://github.com/metanorma/metanorma-iso/issues/504 : Clause 3 was not being recognised as a terms clause, so ISO was publishing the first terms clause it found (4), before any other clauses (including, as it thought, clause 3).

[2021-05-18 13:22] opoudjis commented on #503
Confirmed fixed

[2021-05-18 13:22] #503 closed

[2021-05-19 13:28] #500 closed

[2021-06-10 10:23] ronaldtse opened #507 "Quote unable to enter reference"
From David Leal.

In Clause 3:

[code]

In references:

[code]

This works!

=>
<img width="547" alt="Screenshot 2021-06-10 at 6 21 22 PM" src="https://user-images.githubusercontent.com/11865/121508874-acad5a80-ca18-11eb-8e48-3b524ded881f.png">

I've also tried:

[code]

Error:
[code]

=>
<img width="539" alt="Screenshot 2021-06-10 at 6 22 48 PM" src="https://user-images.githubusercontent.com/1186

[2021-06-10 10:27] ronaldtse commented on #507
I was confused about the question -- it wasn't about this, David had it correct.

However this is really confusing for me, that we have to double quote the anchor+clause.

This should really be documented on metanorma.org for people who wish to use quotes.

cc @metanorma/writers

[2021-06-10 10:27] #507 closed

[2021-06-10 10:56] opoudjis commented on #507
You only have to double quote it as an attribute because it contains a comma, and that's a general asciidoc thing...

[2021-06-11 14:32] ronaldtse opened #508 "Relaton standard references in ISO document not showing the SDO organization"
<img width="541" alt="Screenshot 2021-06-11 at 10 30 21 PM" src="https://user-images.githubusercontent.com/11865/121702704-b3190080-cb04-11eb-83fb-7d93825dcb50.png">

There are 3 separate organizations here: IETF, OGC and OMG. None of their full document identifiers are showing.

Source:
[code]

[2021-06-11 15:08] ronaldtse opened #509 "(URGENT) Some bibdata fields get incorrectly read from the bibliography entries"
This document has this bibdata:

[code]

But somehow isodoc assigns it:
* a revdate of 2005-07-01, which does not exist here
* a "draft 2.0" moniker

<img width="606" alt="Screenshot 2021-06-11 at 11 04 13 PM" src="https://user-images.githubusercontent.com/11865/121707659-5c61f580-cb09-11eb-92f4-7bb902ada3b8.png">

<img width="711" alt="Screenshot 2021-06-11 at 11 05 56 PM" src="https://user-image

[2021-06-11 15:12] ronaldtse opened #510 "Fix font style for ISO copyright section"
<img width="668" alt="Screenshot 2021-06-11 at 11 11 55 PM" src="https://user-images.githubusercontent.com/11865/121708711-6df7cd00-cb0a-11eb-8b44-4abae7504fe8.png">

The highlighted portion is in Times New Roman. ISO uses Cambria.

[2021-06-11 15:13] ronaldtse opened #511 "Redo template using latest ISO simple template"
It's been some time and we should update the ISO template to the latest one, which was just released.

[2021-06-13 03:07] ronaldtse commented on #510
This can be fixed using with #511 .

[2021-06-14 12:14] #509 closed

[2021-06-15 07:04] opoudjis commented on #510
Has indeed been so fixed.

<img width="797" alt="Στιγμιότυπο 2021-06-15, 17 02 41" src="https://user-images.githubusercontent.com/1911039/122007783-a98ce280-cdfb-11eb-8c58-9031d484c9de.png">

[2021-06-15 07:04] #510 closed

[2021-06-17 11:09] #511 closed

[2021-06-17 14:59] opoudjis commented on #508
This is correct in the HTML, but not in the PDF.

Very clearly, the rules as to whether the SDO prefix is inserted before the document identifier need to be resolved in the Presentation XML layer, instead of the HTML layer.

@Intelligent2013 When I implement this, you will need to update your stylesheets, so that you no longer make the decision as to whether to prefix the document identifier or no

[2021-06-19 12:01] #508 closed

[2021-06-23 06:46] opoudjis opened #513 "Grammar validation update"

[2021-06-23 06:50] ronaldtse commented on #513
Basically -- Metanorma should never generate invalid XML.

[2021-07-02 15:08] andrew2net commented on #474
its documented here https://github.com/relaton/relaton-iso#search-for-isoiec-directives

[2021-07-02 15:08] #474 closed

[2021-07-07 09:56] ronaldtse opened #517 "Concept mention not working in ISO vocabulary document"
https://github.com/CalConnect/iso-34000

[code]

[code]

[code]

And ends with a bang:

[code]

[2021-07-07 10:04] ronaldtse commented on #517
There may be the following considerations for ISO:

* This is a vocabulary subtype document. Terms can exist in multiple clauses under the "terms and definition" header.
* In terms and definitions clauses, only the "first mention" of a term should be formatted as "_my term_ (1.1.1)", subsequent mentions are to be rendered as normal.
* In normal clauses, term mentions should not result in rendering

[2021-07-07 10:14] opoudjis commented on #517
This is capricious, but whatever.

[2021-07-07 10:18] ronaldtse commented on #517
See ISO house style...

[2021-07-07 11:45] opoudjis commented on #517
Crash because error message `concept` instances need to be left alone, not postprocessed in Presentation XML.

[2021-07-07 12:03] opoudjis commented on #517
Concepts are not being recognised, because the source is not recognised as terms.

The source is not being recognised as terms, because Metanorma is refusing to allow more than one Terms & Definitions section.

The document is vocabulary subtype, which means it should be allowing more than one Terms & Definitions section. Investigating.

[2021-07-07 14:00] ronaldtse commented on #517
Using Git for metanorma-iso (fix/concept-err):

<img width="864" alt="Screenshot 2021-07-07 at 9 59 24 PM" src="https://user-images.githubusercontent.com/11865/124772521-b0c48d80-df6e-11eb-8662-11443c9876ac.png">

[2021-07-07 14:01] ronaldtse commented on #517
Concept mentions that worked (seems that terms with single words work) have a missing space between the italicized term and the "(...)".

<img width="612" alt="Screenshot 2021-07-07 at 10 00 40 PM" src="https://user-images.githubusercontent.com/11865/124772677-d2be1000-df6e-11eb-86a3-8f8623680eaf.png">

[2021-07-07 15:26] opoudjis commented on #517
Major refactoring needed to cope with multiple terms sections in a document.

[2021-07-07 15:28] opoudjis commented on #517
Space between renderterm and crossreference indeed missed.

[2021-07-08 04:26] opoudjis commented on #517
Remove validation check "term citation not preceded with italicised term": that is supplanted by automated concept rendering.

[2021-07-08 04:42] ronaldtse opened #519 "Fix validation errors for ISO vocabulary documents"
Document: https://github.com/CalConnect/iso-34000

[code]

[2021-07-09 01:40] #517 closed

[2021-07-13 10:51] ronaldtse commented on #519
Some issues remaining:

[code]

[2021-07-13 10:52] ronaldtse commented on #519
Also:

[code]

In the above lot, notice that this appears twice:

[code]

[2021-07-13 15:59] opoudjis commented on #519
Almost all these issues have already been addressed in https://github.com/metanorma/metanorma-iso/pull/516/commits/6e5d0802d327c72431673ed6f7545122cb687760, which is not merged because it depends on unpublished features in metanorma-standoc

The outstanding errors are:

[code]

[2021-07-13 16:16] opoudjis commented on #519
IEV validation was being called twice.

[2021-07-13 16:21] opoudjis commented on #519
Regex tracking the/a in start of term definition was finding instances after carriage return, not start of string.

[2021-07-13 16:35] opoudjis commented on #519
Clean up clause validation for vocabulary documents.

[2021-07-13 16:43] opoudjis commented on #519
Remaining errors:

[code]

[2021-07-13 16:52] opoudjis commented on #519
Debug transition between phases of section validation.

[2021-07-13 16:58] opoudjis commented on #519
Skip title in determining whether Symbols and Abbreviated Terms contains only definition list

[2021-07-13 17:28] #519 closed

[2021-07-13 17:30] opoudjis commented on #513
*Should*.

[2021-07-19 09:03] ronaldtse opened #522 "PDF: SVG and PNG inclusions look awkward"
https://github.com/metanorma/annotated-express-report

See report-part-2.

Original images:
[images.zip](https://github.com/metanorma/metanorma-iso/files/6839445/images.zip)

When I use SVG, the PDF renders like this:

<img width="556" alt="Screenshot 2021-07-19 at 4 52 22 PM" src="https://user-images.githubusercontent.com/11865/126133711-feaab6e0-0727-4022-a05a-f1ba05b72399.png">

When I use PNG,

[2021-07-19 10:07] Intelligent2013 commented on #522
SVG image - there aren't the attribute `width` and `height` in `svg` element:
[code]
To do: in xslt on-fly add them from `viewBox`:
[code]
Resulted PDF will be rendered so:
![image](https://user-images.githubusercontent.com/5559926/126143895-0878bfbc-0cce-4b49-81de-691e7dd54f14.png)

[2021-07-19 11:37] ronaldtse commented on #522
For the record, this SVG is generated from LucidChart. Safari seems to handle it properly with text shown.

[2021-07-19 12:43] opoudjis opened #523 "GHA aborting without warning"
https://github.com/metanorma/metanorma-iso/runs/3103944855?check_suite_focus=true

GHA is aborting, but output is truncated, so I can't tell what's happened...

[2021-07-19 13:00] #523 closed

[2021-07-19 13:14] Intelligent2013 commented on #522
PNG image - Apache FOP doesn't calculate correct height for image with following keep-with-next title.
To do: calculate scale factor by image's width, height and dpi via xslt on-fly.

[2021-07-19 17:32] Intelligent2013 commented on #522
@ronaldtse in Firefox and IE it shows without text:
![image](https://user-images.githubusercontent.com/5559926/126201934-dd25eab4-aa03-482c-9c0d-5ce599315f38.png)

And in .svg file there isn't no one element `text`.

[2021-07-19 17:38] ronaldtse commented on #522
I must have sent you the wrong file. Let me re-do this.

[2021-07-19 17:41] ronaldtse commented on #522
The fixed images. [images.zip](https://github.com/metanorma/metanorma-iso/files/6842894/images.zip)

[2021-07-19 18:49] Intelligent2013 commented on #522
Issue fixed (mn2pdf and common xslt updated):
PNG:
![image](https://user-images.githubusercontent.com/5559926/126211456-d6bedcca-ac2d-4f86-8a14-5246b20d9d6f.png)

SVG:
![image](https://user-images.githubusercontent.com/5559926/126211522-94dab2c9-2c06-420e-9676-40f0f3b8b8fa.png)

[2021-08-09 13:47] ronaldtse opened #525 "Support hierarchical numbering of terminology entries according to ISO 10241-1"
The relevant section from ISO 10241-1:

<img width="798" alt="Screenshot 2021-08-09 at 9 41 17 PM" src="https://user-images.githubusercontent.com/11865/128715755-31cbbd8f-bc05-467e-9a23-8e2231a04561.png">

The hierarchical numbering scheme is shown in EXAMPLE 1, where a "lower-level" concept can be numbered under a "higher-level" concept.

ISO 56000 provides an example of such in 3.1.1 vs 3.1.1.1

[2021-08-18 08:21] ronaldtse opened #526 "Smart terms references should only create italics/xrefs within a "definition""
Instead of this:

Truth should be this:

i.e. a term referenced in a non-term section within Clause 3 should not generate italics/xref.

This issue links back to metanorma/bs-202000#8 and metanorma/sts2mn#26

_Originally posted by @ronaldtse in https://github.com/metanorma/mnconvert/issues/64#issuecomment-900247071_

[2021-08-25 14:08] #525 closed

[2021-08-25 14:17] opoudjis commented on #525
@Intelligent2013 FYI: `term` can now contain nested `term` in XML.

[2021-09-14 13:41] #526 closed

[2021-09-24 01:23] ronaldtse opened #531 "PDF: Legacy ISO documents with "Terms and definitions" not at clause 3 break layouts"
ISO TC 211 documents traditionally had "Terms and definitions" at Clause 4, where Clause 3 is "Conformance". (This is similar to old OGC practice.

In https://github.com/metanorma/iso-19135 (see `sources/iso-19135-1-2015`) we see the following problems.

## PDF

1. (PDF) The TOC has 3 and 4 reversed in order
<img width="567" alt="Screenshot 2021-09-24 at 9 21 43 AM" src="https://user-images.github

[2021-09-24 09:31] Intelligent2013 commented on #531
Currently xslt displays sections in this order:
- `clause[@type='scope']`
- `references[@normative='true']`
- `terms or clause[terms] or definitions or clause[definitions]`
- another `clause`s

But in metanorma xml there is the attribute `displayorder` and it seems I have to use it:
[code]

[2021-09-24 13:06] Intelligent2013 commented on #531
Issue fixed:
![image](https://user-images.githubusercontent.com/5559926/134678947-dee308d5-fa7f-4c45-9734-cd75093b2d3b.png)
...
![image](https://user-images.githubusercontent.com/5559926/134678992-dfc699d9-89b4-4ddf-853d-7931e530717d.png)
...
![image](https://user-images.githubusercontent.com/5559926/134679023-07243da6-a460-47f7-aff1-0083ea9ce942.png)

[2021-09-30 09:19] ronaldtse commented on #531
Thanks @Intelligent2013 !

[2021-09-30 09:19] #531 closed

[2021-09-30 09:20] ronaldtse commented on #522
Thanks @Intelligent2013 !

[2021-09-30 09:20] #522 closed

[2021-10-05 13:15] opoudjis commented on #513
bibitem/ext is to be stripped: it is explicitly meant to be information that references generation ignores, so the grammar disallows it.

[2021-10-08 06:58] ronaldtse opened #532 "Inconsistent syntax for replacing boilerplate with `[.boilerplate]` vs `[NOTE,type=boilerplate]`"
The syntax for replacing boilerplate differs in different places:
* `[NOTE,type=boilerplate]` in Normative references
* `[.boilerplate]` in Terms and definitions

From @manuel489:

_Originally posted by @manuel489 in https://github.com/metanorma/mn-samples-bsi/issues/64#issuecomment-937939440_

[2021-10-08 09:15] ribose-jeffreylau opened #533 "Generated Word document crashes Word for Mac"
# Symptoms

The `.doc` file generated by running `bundle exec metanorma site generate` would make Microsoft Word for Mac crash on open.

[code]

<img width="562" alt="Screenshot 2021-10-08 at 4 41 36 PM" src="https://user-images.githubusercontent.com/2649467/136525932-7718386a-3d8e-4dce-88a1-8c0a21f49952.png">

<details>
<summary>Click to expand trace **(<b>WARNING: LONG TRACE</b>)**</summary>

[c

[2021-10-08 09:17] ronaldtse commented on #533
I confirm that the same content generated with metanorma-cc for Word doesn't crash, but the one from metanorma-iso will crash.

I know that Word documents generated from metanorma-iso 1.8.3 do not crash the latest Word.

[2021-10-08 11:40] manuel489 opened #534 "Support `obsoletes` attribute in ISO flavor (ISOSTS compatibility)"
*In relation to https://github.com/metanorma/mn-samples-bsi/pull/65*

We are in the need of extending the support of `:obsoletes:` attribute to ISO flavor.

[2021-10-08 14:13] ronaldtse commented on #534
Because ISOSTS supports this:

[code]

Possibly there is a dictionary for these `<std-xref>` relationship values.

[2021-10-09 13:46] #533 closed, assigned to opoudjis

[2021-10-09 16:48] opoudjis commented on #534
That's... huge.

[2021-10-09 16:58] opoudjis commented on #534
So... you want me to support ALL of these for ISO?

[2021-10-22 14:13] ronaldtse opened #537 "ISO reference sorting part numbers as strings but should be numerals"
<img width="676" alt="image" src="https://user-images.githubusercontent.com/11865/138468929-395cf3f9-299e-454e-b6c5-a7231e69119a.png">

Notice that "8000-110" is sorted before "8000-61", "8000-311" is sorted before "8000-8". etc. It's sorting the part number as strings, not numbers.

See https://github.com/metanorma/iso-8000-114/

[2021-10-22 14:26] ronaldtse opened #538 "ISO references should follow original indication of undated vs dated, they are all dated now"
This is a bug that never occurred before. This may have to do with the recent change of selection of Relaton references.

[code]

Content:
[code]

=>

<img width="652" alt="Screenshot 2021-10-22 at 10 24 44 PM" src="https://user-images.githubusercontent.com/11865/138471185-3c4fd7a7-21ba-40d0-a404-659e1d206ce3.png">

This is a blocker to the submission of https://github.com/metanorma/iso-8000-114/

[2021-10-25 11:43] Intelligent2013 opened #539 "Generate documentation for Metanorma XML"
We use RNG for schema.
There is the documentation generator for XSD https://github.com/metanorma/xs3p/
To do:
- [x] try convert RNG (Example: https://github.com/metanorma/metanorma-iso/blob/main/lib/asciidoctor/iso/isostandard.rng) to XSD by `trang` tool https://github.com/relaxng/jing-trang
- [x] prepare workflow to RNG->XSD and generate XSD documentation by xs3p
- [x] issue: the blue links from

[2021-10-26 13:21] #537 closed, assigned to opoudjis

[2021-10-27 13:59] ronaldtse opened #542 "Missing 4.1 section in TOC when generating iso-10303-2"
Both the HTML and PDF are missing 4.1 in TOC.

It seems that one problem is that 4.1 goes directly to 4.14.1.1. There is some serious strangeness here.

In principle we should not allow generating an invalid document model, too.

![image](https://user-images.githubusercontent.com/11865/139080603-fea029b5-15df-4888-ab6c-0e48a7238902.png)

The document: https://github.com/metanorma/iso-10303-2

[2021-10-28 02:46] ronaldtse opened #543 "Very slow processing of ISO 10303-2 in PDF"
See MN XML files here:
https://github.com/metanorma/iso-10303-2/issues/65

It took more than 2 hours to generate the PDF.

[2021-10-28 02:47] ronaldtse opened #544 "Very slow processing of ISO 10303-2 to XML"
Took nearly 1 hour to generate the XML files. Some profiling will be necessary.

The document is at:
https://github.com/metanorma/iso-10303-2/

[2021-10-28 02:50] ronaldtse opened #545 "Very slow processing of ISO 10303-2 to HTML and Word"
Takes crazy long time to compile.

Document at https://github.com/metanorma/iso-10303-2

XML files available at https://github.com/metanorma/iso-10303-2/issues/65

[2021-10-29 02:49] #542 closed, assigned to opoudjis

[2021-10-29 03:13] ronaldtse opened #546 "Fix XML validation rules to omit fake errors"
https://github.com/metanorma/iso-10303-2/issues/66

There are some that are definitely wrong: either the MN generation of XML is wrong, or the validation rule is wrong:

[code]

[2021-10-29 09:47] #538 closed, assigned to opoudjis, andrew2net

[2021-10-30 06:43] opoudjis commented on #545
Profiling of combined XML and ISO processing of this file:

145 mins total, 2h25

* 80 min was spent on Asciidoc processing, 65 min was spent on XML processing
* 39 min, was fetching bibliographic references. This is meant to go away with local caching, but the local caches need a lot of updating as the processing changes.
  * Of that, 26 min was RelatoinIso::IsoBibliography::isobib_results_filter

[2021-10-30 06:45] opoudjis commented on #544
Profiling of combined XML and ISO processing of this file:

145 mins total, 2h25

* 80 min was spent on Asciidoc processing, 65 min was spent on XML processing
* 39 min, was fetching bibliographic references. This is meant to go away with local caching, but the local caches need a lot of updating as the processing changes.
  * Of that, 26 min was RelatoinIso::IsoBibliography::isobib_results_filter